flows/Configuration_Approval_Notification-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab6</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Fab 6 PIYE Notification</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab6</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab6</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A2</name>
        <label>Fab 6 Packaging Notification</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab6</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab7</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Fab 7 PIYE Notification</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab7</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab7</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Fab 7 Packaging Notification</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab7</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab8_14_LPP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Fab 8(14 LPP) PIYE Notification-1</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab8_14_LPP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_15_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab8_14LPP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A2</name>
        <label>Fab 8(14 LPP) Packaging Notification-1</label>
        <locationX>1500</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab8_14LPP</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab8_14_HPP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Fab 8(14 HPP) PIYE Notification-1</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab8_14_HPP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_17_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab8_14_HPP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A2</name>
        <label>Fab 8(14 HPP) Packaging Notification-1</label>
        <locationX>1700</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab8_14_HPP</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab9</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Fab 9 PIYE Notification</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab9</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab9</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A2</name>
        <label>Fab 9 Packaging Notification</label>
        <locationX>1900</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab9</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab1</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Approval Notification to PIYE Fab1 Queue</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab1</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Send Approval Notification to Packaging Fab1 Queue</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab1</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Approval Notification to Fab 2</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Send Approval Notification to Packaging User Fab2</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab2</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab3</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Fab 3 Email Notification</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab3E</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Fab 3 Packaging Notification</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab3E</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab3E</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Fab 3E Packaging Notification</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab3E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab3E</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Fab 3E PIYE Notification</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab3E</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab5</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Fab 5 PIYE Notification</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Approval_Notification_for_Packaging_Users_Fab5</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A2</name>
        <label>Fab 5 Packaging Notification</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Approval_Notification_for_Packaging_Users_Fab5</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Fab 1 Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Fab 6 Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Fab 7 Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Fab 8(14LPP) Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Fab 8(14HPP) Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Fab 9 Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Fab 2 Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Fab 3 Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Fab 3E Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Fab 5 Notification</label>
        </rules>
    </decisions>
    <description>Send Configuration Approval Notification Email based on Fab</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 1&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 1&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 6&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 6&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 7&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 7&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; (PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dr</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; (PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;) 
&amp;&amp; (ISPICKVAL({!myVariable_current.Process_Technology__c}, &quot;PT003525&quot;) ||  
ISPICKVAL({!myVariable_current.Process_Technology__c}, &quot;PT003330&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; (PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dr</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; (PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;) 
&amp;&amp; ISPICKVAL({!myVariable_current.Process_Technology__c}, &quot;PT003595&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 9&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 9&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 2&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 2&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 3&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 3&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 3E&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dr</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 3E&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 5&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( [Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) == &quot;Dra</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 5&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Configuration Design Phase&quot;)
&amp;&amp; PRIORVALUE( {!myVariable_current.Apttus_Proposal__Approval_Stage__c}) == &quot;Draft&quot;</expression>
    </formulas>
    <interviewLabel>Configuration_Approval_Notification-13_Apttus_Proposal__Proposal__c</interviewLabel>
    <label>Configuration Approval Notification Email_2</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Apttus_Proposal__Proposal__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
