flows/EULA_Questionnaire_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>IncreaseMarks</name>
        <label>IncreaseMarks</label>
        <locationX>10</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q1Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ10</name>
        <label>IncreaseMarksQ10</label>
        <locationX>618</locationX>
        <locationY>1196</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q10Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ2</name>
        <label>IncreaseMarksQ2</label>
        <locationX>12</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q2Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ3</name>
        <label>IncreaseMarksQ3</label>
        <locationX>356</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q3Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ5</name>
        <label>IncreaseMarksQ5</label>
        <locationX>621</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q5Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ6</name>
        <label>IncreaseMarksQ6</label>
        <locationX>357</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q6Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ7</name>
        <label>IncreaseMarksQ7</label>
        <locationX>14</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q7Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ8</name>
        <label>IncreaseMarksQ8</label>
        <locationX>13</locationX>
        <locationY>1195</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q8Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQ9</name>
        <label>IncreaseMarksQ9</label>
        <locationX>361</locationX>
        <locationY>1201</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q9Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseMarksQuestion4</name>
        <label>IncreaseMarksQuestion4</label>
        <locationX>850</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>QuizScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q4Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GradeQuestion5</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Q10Choice1</name>
        <choiceText>via Web browser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10Choice2</name>
        <choiceText>via url link with timer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10Choice3</name>
        <choiceText>via Salesforce1 mobile app</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10Choice4</name>
        <choiceText>All the ways listed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1Choice1</name>
        <choiceText>Only the IT Admins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1Choice2</name>
        <choiceText>Only the Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1Choice3</name>
        <choiceText>IT Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1Choice4</name>
        <choiceText>Everybody has a role in security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2Choice1</name>
        <choiceText>Accessible by Everyone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2Choice2</name>
        <choiceText>Accessible by User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2Choice3</name>
        <choiceText>Accessible by User and Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2Choice4</name>
        <choiceText>Accessible by Customers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3Choice1</name>
        <choiceText>You can share files with other Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3Choice2</name>
        <choiceText>You can share files to a Chatter Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3Choice3</name>
        <choiceText>You can share files with an inactive user</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3Choice4</name>
        <choiceText>You can share files with anyone via link</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4Choice1</name>
        <choiceText>The owner of the Chatter Group can change the Group Access for content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4Choice2</name>
        <choiceText>All files upload in Chatter is only accessible the person who posts it</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4Choice3</name>
        <choiceText>You do NOT need a user account to access Chatter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4Choice4</name>
        <choiceText>You can NOT delete a file that you upload in Chatter Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5Choice1</name>
        <choiceText>Public Chatter Group means customer can access the content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5Choice2</name>
        <choiceText>Access to Private Chatter is by members only and system admins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5Choice3</name>
        <choiceText>Unlisted Chatter is NOT accessible by System Admins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5Choice4</name>
        <choiceText>Customer can only be added to private chatter with &quot;Allow Customer&quot; selected.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6Choice1</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6Choice2</name>
        <choiceText>False</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7Choice1</name>
        <choiceText>Everybody can access all files in Library Content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7Choice2</name>
        <choiceText>Library Content sharing can be managed by the content owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7Choice3</name>
        <choiceText>Library Content does not allow content owner to delete files</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7Choice4</name>
        <choiceText>Salesforce does not track who downloads from the Library Content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8Choice1</name>
        <choiceText>Private and only accessible by the User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8Choice2</name>
        <choiceText>Public for other users to view</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9Choice1</name>
        <choiceText>Ask IT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9Choice2</name>
        <choiceText>It is not possible to see the file sharing rule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9Choice3</name>
        <choiceText>Look at the File Sharing Settings in the file preview page</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9Choice4</name>
        <choiceText>Ask the file owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>d</stringValue>
        </value>
    </choices>
    <decisions>
        <name>GradeQuestion1</name>
        <label>GradeQuestion1</label>
        <locationX>249</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question1Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question1Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1Choice4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarks</targetReference>
            </connector>
            <label>Question1Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion10</name>
        <label>GradeQuestion10</label>
        <locationX>619</locationX>
        <locationY>1077</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question10Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question10Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q10Choice4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ10</targetReference>
            </connector>
            <label>Question10Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion2</name>
        <label>GradeQuestion2</label>
        <locationX>129</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question2Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question2Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ2</targetReference>
            </connector>
            <label>Question2Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion3</name>
        <label>GradeQuestion3</label>
        <locationX>355</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question3Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question3Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q3Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ3</targetReference>
            </connector>
            <label>Question3Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion4</name>
        <label>GradeQuestion4</label>
        <locationX>617</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question4Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question4Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q4Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQuestion4</targetReference>
            </connector>
            <label>Question4Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion5</name>
        <label>GradeQuestion5</label>
        <locationX>618</locationX>
        <locationY>845</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question5Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question5Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q5Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ5</targetReference>
            </connector>
            <label>Question5Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion6</name>
        <label>GradeQuestion6</label>
        <locationX>356</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question6Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question6Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q6Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ6</targetReference>
            </connector>
            <label>Question6Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion7</name>
        <label>GradeQuestion7</label>
        <locationX>142</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question7Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question7Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q7Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ7</targetReference>
            </connector>
            <label>Question7Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion8</name>
        <label>GradeQuestion8</label>
        <locationX>138</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question8Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question8Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q8Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ8</targetReference>
            </connector>
            <label>Question8Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>GradeQuestion9</name>
        <label>GradeQuestion9</label>
        <locationX>361</locationX>
        <locationY>1077</locationY>
        <defaultConnector>
            <targetReference>GradeQuestion10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Question9Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question9Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q9Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncreaseMarksQ9</targetReference>
            </connector>
            <label>Question9Correct</label>
        </rules>
    </decisions>
    <interviewLabel>EULA Questionnaire Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EULA Questionnaire Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Page10</name>
        <label>Page10</label>
        <locationX>431</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GradeQuestion1</targetReference>
        </connector>
        <fields>
            <name>Question10Answer</name>
            <choiceReferences>Q10Choice1</choiceReferences>
            <choiceReferences>Q10Choice2</choiceReferences>
            <choiceReferences>Q10Choice3</choiceReferences>
            <choiceReferences>Q10Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>File sharing Salesforce.com can be set to be assessible</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page2</name>
        <label>Page2</label>
        <locationX>434</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page3</targetReference>
        </connector>
        <fields>
            <name>Question2Answer</name>
            <choiceReferences>Q2Choice1</choiceReferences>
            <choiceReferences>Q2Choice2</choiceReferences>
            <choiceReferences>Q2Choice3</choiceReferences>
            <choiceReferences>Q2Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Files uploaded to SFDC via the File tab is by default?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page3</name>
        <label>Page3</label>
        <locationX>250</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page4</targetReference>
        </connector>
        <fields>
            <name>Question3Answer</name>
            <choiceReferences>Q3Choice1</choiceReferences>
            <choiceReferences>Q3Choice2</choiceReferences>
            <choiceReferences>Q3Choice3</choiceReferences>
            <choiceReferences>Q3Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which one is NOT a file sharing option?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page4</name>
        <label>Page4</label>
        <locationX>68</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page5</targetReference>
        </connector>
        <fields>
            <name>Question4Answer</name>
            <choiceReferences>Q4Choice1</choiceReferences>
            <choiceReferences>Q4Choice2</choiceReferences>
            <choiceReferences>Q4Choice3</choiceReferences>
            <choiceReferences>Q4Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which one is true about Chatter?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page5</name>
        <label>Page5</label>
        <locationX>67</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page6</targetReference>
        </connector>
        <fields>
            <name>Question5Answer</name>
            <choiceReferences>Q5Choice1</choiceReferences>
            <choiceReferences>Q5Choice2</choiceReferences>
            <choiceReferences>Q5Choice3</choiceReferences>
            <choiceReferences>Q5Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the FALSE statement about Chatter Group Access</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page6</name>
        <label>Page6</label>
        <locationX>249</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page7</targetReference>
        </connector>
        <fields>
            <name>Question6Answer</name>
            <choiceReferences>Q6Choice1</choiceReferences>
            <choiceReferences>Q6Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Files posted in a record is assessible by the users who have access to the record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page7</name>
        <label>Page7</label>
        <locationX>433</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page8</targetReference>
        </connector>
        <fields>
            <name>Question7Answer</name>
            <choiceReferences>Q7Choice1</choiceReferences>
            <choiceReferences>Q7Choice2</choiceReferences>
            <choiceReferences>Q7Choice3</choiceReferences>
            <choiceReferences>Q7Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which one is TRUE about Library Content</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page8</name>
        <label>Page8</label>
        <locationX>612</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page9</targetReference>
        </connector>
        <fields>
            <name>Question8Answer</name>
            <choiceReferences>Q8Choice1</choiceReferences>
            <choiceReferences>Q8Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Content Posted on the User&apos;s Profile page is</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page9</name>
        <label>Page9</label>
        <locationX>614</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page10</targetReference>
        </connector>
        <fields>
            <name>Question9Answer</name>
            <choiceReferences>Q9Choice1</choiceReferences>
            <choiceReferences>Q9Choice2</choiceReferences>
            <choiceReferences>Q9Choice3</choiceReferences>
            <choiceReferences>Q9Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The best way to see the sharing rules of a file is to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Page_1</name>
        <label>Page 1</label>
        <locationX>615</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Page2</targetReference>
        </connector>
        <fields>
            <name>Question1Answer</name>
            <choiceReferences>Q1Choice1</choiceReferences>
            <choiceReferences>Q1Choice2</choiceReferences>
            <choiceReferences>Q1Choice3</choiceReferences>
            <choiceReferences>Q1Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Whose responsibility is file sharing security in Salesforce.com?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>This is a sample question A</pausedText>
    </screens>
    <startElementReference>Page_1</startElementReference>
    <variables>
        <name>Q10Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q1Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q2Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q3Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q4Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q5Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q6Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q7Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q8Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>Q9Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Incorrect</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuizScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
