flows/flowCalcTotalTAT_EndDate_CheckShutdownDays-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddOneToEndDate</name>
        <label>AddOneToEndDate</label>
        <locationX>288</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoundShutdownDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMilestoneTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkNextDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMilestoneStartDate</name>
        <label>assignMilestoneStartDate</label>
        <locationX>106</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varMilestoneTAT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyShutdownDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calcTotalTATandEndDate</name>
        <label>calcTotalTATandEndDate</label>
        <locationX>103</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>varTotalTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varMilestoneTAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScheduleStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignMilestoneStartDate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BTV</name>
        <choiceText>BTV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BURLINGTON</stringValue>
        </value>
    </choices>
    <choices>
        <name>EFK</name>
        <choiceText>EFK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FSK 300MM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>IfShutdownFound</name>
        <label>IfShutdownFound</label>
        <locationX>111</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ShutdownFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FabShutdownDateObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOneToEndDate</targetReference>
            </connector>
            <label>ShutdownFound</label>
        </rules>
        <rules>
            <name>NoShutdownFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FabShutdownDateObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoShutdownFound</label>
        </rules>
    </decisions>
    <description>This flow takes as input the milestone TAT,  milestone Locatation, current totat TAT and  first milestone Start Date
It adds the milestone TAT to the Total TAT, and calculates the End Date, using the Start Date and the Total TAT.  Then, using the End Date, it calculates the start date for the milestone, and using that date range, checks in the Fab Shutdown table for any dates in the range for the Location.  If found, 1 day is added to the TATs for each day, until the end of the shutdown days is found.  End Date is also readjusted.
Output is EndDate, milestone TAT and Total TAT.</description>
    <interviewLabel>flowCalcTotalTAT_EndDate_CheckShutdownDays {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowCalcTotalTAT_EndDate_CheckShutdownDays</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>AnyShutdownDates</name>
        <label>AnyShutdownDates</label>
        <locationX>111</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfShutdownFound</targetReference>
        </connector>
        <filters>
            <field>Shutdown_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shutdown_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Fab_Shutdown_Date__c</object>
        <outputAssignments>
            <assignToReference>FabShutdownDateObjectId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFoundShutdownDate</assignToReference>
            <field>Shutdown_date__c</field>
        </outputAssignments>
        <sortField>Shutdown_date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>checkNextDate</name>
        <label>checkNextDate</label>
        <locationX>360</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfShutdownFound</targetReference>
        </connector>
        <filters>
            <field>Shutdown_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFoundShutdownDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Fab_Shutdown_Date__c</object>
        <outputAssignments>
            <assignToReference>FabShutdownDateObjectId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFoundShutdownDate</assignToReference>
            <field>Shutdown_date__c</field>
        </outputAssignments>
        <sortField>Shutdown_date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>calcTotalTATandEndDate</startElementReference>
    <variables>
        <name>FabShutdownDateObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFoundShutdownDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input is milestone TAT
Ouput is Milestone TAT + any shutdown days</description>
        <name>varMilestoneTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>input that contains the start date of the first milestone in the schedule</description>
        <name>varScheduleStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
