flows/New_RTAT_Schedule-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignEndDatesANDTotalTAT</name>
        <label>AssignStartANDEndDatesANDTotalTAT</label>
        <locationX>533</locationX>
        <locationY>1249</locationY>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEMP_RTM_Actual_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculateFirstEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalculateFirstEndDate</name>
        <label>CalculateFirstEndDate</label>
        <locationX>534</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mask_start_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Entries</name>
        <label>Count of Entries</label>
        <locationX>760</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>CountProcOptsPicked</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WaferProcessOptionsTATsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordWaferFabProcOption.TAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WaferProcOptionNamesCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordWaferFabProcOption.Process_Option__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procOptionnames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatOptionProc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procOptionsTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatProcOptTATs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RITAWafFabProcOptsPicked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordWaferFabProcOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThrusObjCollsWafFabjProcOptIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_RIT_B_Entries</name>
        <label>Count of RIT B Entries</label>
        <locationX>1371</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>CountProcOptsPicked</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procOptionnames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatOptionProc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procOptionsTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatProcOptTATs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RITBWaferFabProcOptionsPicked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordWaferFabProcOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThrusObjCollsRITBWafFabProcOptIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepTrackofRITASubprocessTotalTAT</name>
        <label>KeepTrackofRITASubprocessTotalTAT</label>
        <locationX>342</locationX>
        <locationY>1990</locationY>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RIT_A_WAFER_BLD_TAT.Waf_Bld_TAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRITAWafProcOptChosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepTrackofRITBSubprocessTotalTAT</name>
        <label>KeepTrackofRITBSubprocessTotalTAT</label>
        <locationX>570</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RIT_B_WAFER_BLD_TAT.Waf_Bld_TAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRITBWafProcOptChosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepTrackofRITBSubprocessTotalTAT_0_2</name>
        <label>KeepTrackofRITBSubprocessTotalTAT</label>
        <locationX>868</locationX>
        <locationY>2193</locationY>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordWaferFabProcOption.TAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRITBWafProcOptChosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepTrackofRITBSubprocessTotalTAT_1_2</name>
        <label>KeepTrackofRITBSubprocessTotalTAT</label>
        <locationX>560</locationX>
        <locationY>2397</locationY>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalcTATwhenExceedStdRITBLotSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calcTotalRITBWafFabTATandEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepTrackofSubprocessTotalTAT_0</name>
        <label>KeepTrackofSubprocessTotalTAT</label>
        <locationX>203</locationX>
        <locationY>2216</locationY>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordWaferFabProcOption.TAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRITAWafProcOptChosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepTrackofSubprocessTotalTAT_1</name>
        <label>KeepTrackofSubprocessTotalTAT</label>
        <locationX>354</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalcTATwhenExceedRITAStdLotSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calcTotalRITAWafFabTATandEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StringWaferFabProcOptions</name>
        <label>StringWaferFabProcOptions</label>
        <locationX>516</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>procOptionnames</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procOptionsTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThrusObjCollsWafFabjProcOptIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StringWaferFabProcOptionsRITB</name>
        <label>StringWaferFabProcOptionsRITB</label>
        <locationX>1141</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>procOptionnames</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procOptionsTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountProcOptsPicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThrusObjCollsRITBWafFabProcOptIDs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MPW</name>
        <choiceText>MPW?</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No_don_t_create_a_module_schedule</name>
        <choiceText>No, don&apos;t create a module schedule</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>noCreateFin</name>
        <choiceText>No, don&apos;t create a finishing schedule now</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>noCreateWaferFinishSchedule</name>
        <choiceText>noCreateWaferFinishSchedule</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_create_a_module_Schedule</name>
        <choiceText>Yes, create a module Schedule</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>yesCreateFin</name>
        <choiceText>Yes, create Finishing schedule</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>yesCreateWaferFinishSchedule</name>
        <choiceText>yesCreateWaferFinishSchedule</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <description>For setting Slot status to ACTIVE</description>
        <name>ActiveSlotStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACTIVE</stringValue>
        </value>
    </constants>
    <constants>
        <description>constant for Burlington, the location of the mask house</description>
        <name>Burlington</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BURLINGTON</stringValue>
        </value>
    </constants>
    <constants>
        <description>text string Levels of Metal</description>
        <name>constantLOM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Levels of Metal</stringValue>
        </value>
    </constants>
    <constants>
        <description>text string Mask Layer</description>
        <name>constantMaskLayer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mask Layer</stringValue>
        </value>
    </constants>
    <constants>
        <description>Defaults to 7</description>
        <name>JobClassDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </constants>
    <constants>
        <description>Label for Wafer Milestone Exceed Standard Lot Size</description>
        <name>labelExceedStdLotSize</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Exceed Std. Lot Size</stringValue>
        </value>
    </constants>
    <constants>
        <description>label for subprocess Normal Wafer TAT</description>
        <name>labelNormalWaferTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal Wafer TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>label for Milestone RIT A Fab Prep</description>
        <name>labelRITAFabPrepTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT A Fab Prep TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant for labeling: RIT A Mask TAT</description>
        <name>labelRITAMaskTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT A Mask TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>label for milestone RIT A Transit TAT</description>
        <name>labelRITATransitTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT A Transit TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Label for process RIT A Transit TAT milestone</description>
        <name>labelRITATransitTime</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT A Transit TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Parent process label for RIT A Wafer TAT</description>
        <name>labelRITAWaferTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT A Wafer TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Label for milestone RIT B Fab Prep</description>
        <name>labelRITBFabPrepTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT B Fab Prep TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Label for parent process RIT B Wafer TAT</description>
        <name>labelRITBWaferTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RIT B Wafer TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>label for process Ship Prep TAT</description>
        <name>labelShipPrepTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship Prep TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>label for parent RIT A Wafer Fab TAT, Total of subprocesses</description>
        <name>labelTotalRITATAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Total RIT A TAT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Label for parent process of RIT B Wafer Fab Process, subprocess Total TAT</description>
        <name>labelTotalRITBTAT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Total RIT B TAT</stringValue>
        </value>
    </constants>
    <constants>
        <name>LotSizeErrorMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Value cannot exceed the Maximum Lot Size</stringValue>
        </value>
    </constants>
    <constants>
        <name>Match</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;Match&apos;</stringValue>
        </value>
    </constants>
    <constants>
        <description>first process in Fab, Rit A Mask House CCDESK date</description>
        <name>RitAMaskHouseCCDESKdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rit A Mask House CCDESK date</stringValue>
        </value>
    </constants>
    <constants>
        <description>contant &quot;B&quot;</description>
        <name>RITBType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </constants>
    <constants>
        <name>RitTypeA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Levels_of_Metal_or_Mask_Layer_count_0</name>
        <label>Check Levels of Metal or Mask Layer count</label>
        <locationX>966</locationX>
        <locationY>505</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Levels_of_Metal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaskLayersORLevelsOfMetal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constantLOM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_B_Wafer_Fab_Process_Time</targetReference>
            </connector>
            <label>Levels of Metal</label>
        </rules>
        <rules>
            <name>MaskLayerCount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaskLayersORLevelsOfMetal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constantMaskLayer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_to_support_Mask_Layers_0</targetReference>
            </connector>
            <label>MaskLayerCount</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForChosenRITAProcessOptions</name>
        <label>CheckForChosenRITAProcessOptions</label>
        <locationX>730</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>LoopThrusObjCollsWafFabjProcOptIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PickedRITAProcessOption</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oneContainsOthe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_of_Entries</targetReference>
            </connector>
            <label>PickedRITAProcessOption</label>
        </rules>
        <rules>
            <name>RITANotPicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oneContainsOthe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThrusObjCollsWafFabjProcOptIDs</targetReference>
            </connector>
            <label>RITANotPicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForChosenRITBProcessOptions</name>
        <label>CheckForChosenRITBProcessOptions</label>
        <locationX>1459</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>LoopThrusObjCollsRITBWafFabProcOptIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PickedRITBProcessOption</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RITBProcOptionChosen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_of_RIT_B_Entries</targetReference>
            </connector>
            <label>PickedRITBProcessOption</label>
        </rules>
        <rules>
            <name>RITBNotPicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RITBProcOptionChosen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThrusObjCollsRITBWafFabProcOptIDs</targetReference>
            </connector>
            <label>RITBNotPicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionRITAWaferTAT</name>
        <label>decisionRITAWaferTAT</label>
        <locationX>548</locationX>
        <locationY>1911</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RITAexists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RitTypeA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_A_FAB_Prep_TAT</targetReference>
            </connector>
            <label>RITAexists</label>
        </rules>
        <rules>
            <name>OnlyRitB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>RITBType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_B_FAB_Prep_TAT</targetReference>
            </connector>
            <label>OnlyRitB</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifFinishSched</name>
        <label>ifFinishSched</label>
        <locationX>476</locationX>
        <locationY>2955</locationY>
        <defaultConnector>
            <targetReference>SchedulingComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MakeWaferFinishSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Create_a_finishing_schedule_now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallFinishingScheduleFlow</targetReference>
            </connector>
            <label>MakeWaferFinishSchedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifModuleSched</name>
        <label>ifModuleSched</label>
        <locationX>476</locationX>
        <locationY>3282</locationY>
        <defaultConnector>
            <targetReference>SchedulingComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MakeModuleSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Create_a_module_schedule_now_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowRTATCreateModuleSchedule</targetReference>
            </connector>
            <label>MakeModuleSchedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>RIT_B_Info</name>
        <label>RIT B Info</label>
        <locationX>527</locationX>
        <locationY>975</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RIT_B_Inputs_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>RITBType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_B_GUI</targetReference>
            </connector>
            <label>RIT B Inputs</label>
        </rules>
        <rules>
            <name>RIT_A_Inputs_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>RitTypeA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Temporary_Entering_of_RTM_Actual_Date</targetReference>
            </connector>
            <label>RIT A Inputs</label>
        </rules>
    </decisions>
    <decisions>
        <name>RIT_B_Info_0</name>
        <label>RIT B Info</label>
        <locationX>366</locationX>
        <locationY>2635</locationY>
        <defaultConnector>
            <targetReference>AddShipPrepTAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RIT_B_Inputs_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>RITBType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_B_FAB_Prep_TAT</targetReference>
            </connector>
            <label>RIT B Inputs</label>
        </rules>
        <rules>
            <name>RIT_A_Inputs_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>RitTypeA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddShipPrepTAT</targetReference>
            </connector>
            <label>RIT A Inputs</label>
        </rules>
    </decisions>
    <decisions>
        <name>RIT_Info</name>
        <label>RIT Info</label>
        <locationX>333</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>RITTypeFault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RIT_A_Inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RitTypeA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_A_GUI</targetReference>
            </connector>
            <label>RIT A Inputs</label>
        </rules>
        <rules>
            <name>RIT_B_Inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RIT_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RITBType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIT_B_GUI</targetReference>
            </connector>
            <label>RIT B Inputs</label>
        </rules>
    </decisions>
    <description>Flow for creation of new RTAT Slot and schedules</description>
    <dynamicChoiceSets>
        <name>plRIT_B_Speed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RIT_B_Speed__c</picklistField>
        <picklistObject>RTAT_Wafer_Fab_Schedule_Inputs__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RITAQuality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RIT_A_Quality__c</picklistField>
        <picklistObject>RTAT_Wafer_Fab_Schedule_Inputs__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RITBQual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RIT_B_Quality__c</picklistField>
        <picklistObject>RTAT_Wafer_Fab_Schedule_Inputs__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RITtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RIT_Type__c</picklistField>
        <picklistObject>RTAT_Wafer_Fab_Schedule_Inputs__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RTATSlotType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Slot_Type__c</picklistField>
        <picklistObject>RTAT_Slot__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WafProcOptsRITA</name>
        <dataType>String</dataType>
        <displayField>Process_Option__c</displayField>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RIT_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>RitTypeA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_A_Sppeed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Waf_Fab_Process_Option__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WafProcOptsRITB</name>
        <dataType>String</dataType>
        <displayField>Process_Option__c</displayField>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RIT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RITBType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_B_Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Waf_Fab_Process_Option__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>add the next milestones TAT to the Total</description>
        <name>addNextMilestoneTAT</name>
        <dataType>Number</dataType>
        <expression>{!varTotalTAT} + {!varNextTAT}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Adding the total TAT to the start date</description>
        <name>calcEndDate</name>
        <dataType>Date</dataType>
        <expression>{!varStartDate} + {!varTotalTAT}</expression>
    </formulas>
    <formulas>
        <description>For BTV, For every extra wafer between the std lot size and the lot size entered, add an extra .3 days to the TAT.

EFK, put 0.  NPA will adjust manually</description>
        <name>CalcTATwhenExceedRITAStdLotSize</name>
        <dataType>Number</dataType>
        <expression>IF(({!WafBldLocFormula} == &apos;BURLINGTON&apos; ),
((CEILING((IF({!Lot_SizeRITA} &gt; {!sobjRTATLotSize_RITA.STD_LOT_SIZE_A__c},{!Lot_SizeRITA} - {!sobjRTATLotSize_RITA.STD_LOT_SIZE_A__c}, 0) ) /3) *(5/100)) * {!varNextTAT}), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Take Cycle Time and multiply it by 5% for every 3 wafers above the Std Lot Size

IF(({!WafBldLocFormula} == &apos;BURLINGTON&apos; ), ((CEILING(({!Lot_SizeRITB} - {!sobjRTATLotSize_RITB.STD_LOT_SIZE_B__c} ) /3) *(5/100)) * {!varNextTAT}), 0)</description>
        <name>CalcTATwhenExceedStdRITBLotSize</name>
        <dataType>Number</dataType>
        <expression>IF(({!WafBldLocFormula} == &apos;BURLINGTON&apos; ),
((CEILING((IF({!Lot_SizeRITB} &gt; {!sobjRTATLotSize_RITB.STD_LOT_SIZE_B__c},{!Lot_SizeRITB} - {!sobjRTATLotSize_RITB.STD_LOT_SIZE_B__c}, 0) ) /3) *(5/100)) * {!varNextTAT}), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ConcatOptionProc</name>
        <dataType>String</dataType>
        <expression>TEXT( {!recordWaferFabProcOption.Process_Option__c} )+  &quot;;&quot;  + {!procOptionnames}</expression>
    </formulas>
    <formulas>
        <name>ConcatProcOptTATs</name>
        <dataType>String</dataType>
        <expression>TEXT( {!recordWaferFabProcOption.TAT__c} ) + &quot;;&quot; + {!procOptionsTAT}</expression>
    </formulas>
    <formulas>
        <description>Get the wafer size from the ERP Device Wafer Diameter field</description>
        <name>ERPDevWafDiam</name>
        <dataType>String</dataType>
        <expression>TEXT({!ERPLookupVar.Wafer_Diameter__c})  +  &apos;MM&apos;</expression>
    </formulas>
    <formulas>
        <description>trim what was chosen</description>
        <name>getPicklistValue</name>
        <dataType>String</dataType>
        <expression>&apos;; &apos;+TEXT( {!recordWaferFabProcOption.Process_Option__c})+&apos;;&apos;</expression>
    </formulas>
    <formulas>
        <description>if there is a time in the transit table from BTV to wafer build location, use that time, otherwise set to zero</description>
        <name>MaskBuildTime</name>
        <dataType>Number</dataType>
        <expression>IF( ({!MaskTransitTime.Id} != null),  {!MaskTransitTime.NORMAL_TAT_IN_DAYS__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>are we getting wafer processing time using levels of metal or number of mask layers</description>
        <name>MaskLayersORLevelsOfMetal</name>
        <dataType>String</dataType>
        <expression>IF({!ERPLookupVar.Levels_Of_Metal__c} &gt; 0, &apos;Levels of Metal&apos;, 
IF(NOT(ISBLANK({!ERPLookupVar.Mask_Layer_Count__c})), &apos;Mask Layer&apos;, &apos;Levels of Metal&apos;))</expression>
    </formulas>
    <formulas>
        <name>MaxLotSizeRitA</name>
        <dataType>Number</dataType>
        <expression>{!sobjRTATLotSize_RITA.MAX_LOT_SIZE_A__c} * 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Maximum lot size allowed from RTAT LOT SIZE table</description>
        <name>MaxLotSizeRITB</name>
        <dataType>Number</dataType>
        <expression>{!sobjRTATLotSize_RITB.MAX_LOT_SIZE_B__c} * 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>oneContainsOthe</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(UPPER( &apos;; &apos; +  {!Wafer_Process_Options_RIT_A}  +  &apos;;&apos;),
UPPER(TRIM({!getPicklistValue}))
)</expression>
    </formulas>
    <formulas>
        <name>RITBProcOptionChosen</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(
UPPER(&apos;; &apos; + {!Wafer_Process_Options_for_RIT_B} +  &apos;;&apos; ),
UPPER(TRIM({!getPicklistValue}))
)</expression>
    </formulas>
    <formulas>
        <description>SYF for entered Slottype</description>
        <name>SlotYieldFactorbySlotType</name>
        <dataType>Number</dataType>
        <expression>CASE ({!Slot_type},
&quot;PROTO&quot;, {!SlotYieldFactor.Proto__c}, 
&quot;EUH&quot;, {!SlotYieldFactor.EUH__c}, 
&quot;PROD RTAT&quot;, {!SlotYieldFactor.Production_RTAT__c} ,
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>get the wafer build location from the ERP Dev Fab</description>
        <name>WafBldLocFormula</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES( {!ERPLookupVar.Fab__c} , &quot;FAB 10&quot;), &quot;FSK 300MM&quot;,  
IF(INCLUDES( {!ERPLookupVar.Fab__c} , &quot;FAB 9&quot;), &quot;BURLINGTON&quot;,
IF(INCLUDES( {!ERPLookupVar.Fab__c} , &quot;FAB 8&quot;), &quot;MALTA&quot;,
IF(INCLUDES( {!ERPLookupVar.Fab__c} , &quot;XFAB&quot;), &quot;ALTIS &quot;, &quot;Unknown Fab&quot;))))</expression>
    </formulas>
    <interviewLabel>New RTAT Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create RTAT Schedule</label>
    <loops>
        <name>getRITAWafProcOptChosen</name>
        <label>getRITAWafProcOptChosen</label>
        <locationX>336</locationX>
        <locationY>2109</locationY>
        <assignNextValueToReference>recordWaferFabProcOption</assignNextValueToReference>
        <collectionReference>RITAWafFabProcOptsPicked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RIT_A_Proc_Options_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddSubProcessExceedStdLotSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getRITBWafProcOptChosen</name>
        <label>getRITBWafProcOptChosen</label>
        <locationX>710</locationX>
        <locationY>2195</locationY>
        <assignNextValueToReference>recordWaferFabProcOption</assignNextValueToReference>
        <collectionReference>RITBWaferFabProcOptionsPicked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RIT_B_Proc_Options_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddSubProcessExceedStdLotSize_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThrusObjCollsRITBWafFabProcOptIDs</name>
        <label>LoopThrusObjCollsRITBWafFabProcOptIDs</label>
        <locationX>1146</locationX>
        <locationY>756</locationY>
        <assignNextValueToReference>recordWaferFabProcOption</assignNextValueToReference>
        <collectionReference>socWaferFabProcOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckForChosenRITBProcessOptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateWaferFabSchedInputsRITB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThrusObjCollsWafFabjProcOptIDs</name>
        <label>LoopThrusObjCollsWafFabjProcOptIDs</label>
        <locationX>520</locationX>
        <locationY>756</locationY>
        <assignNextValueToReference>recordWaferFabProcOption</assignNextValueToReference>
        <collectionReference>socWaferFabProcOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckForChosenRITAProcessOptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateWaferFabSchedInputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddShipPrepTAT</name>
        <label>AddShipPrepTAT</label>
        <locationX>463</locationX>
        <locationY>2763</locationY>
        <connector>
            <targetReference>DisplayObjects</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelShipPrepTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>AddSubProcessExceedStdLotSize</name>
        <label>AddSubProcessExceedStdLotSize</label>
        <locationX>348</locationX>
        <locationY>2236</locationY>
        <connector>
            <targetReference>KeepTrackofSubprocessTotalTAT_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITAWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess_TAT__c</field>
            <value>
                <elementReference>CalcTATwhenExceedRITAStdLotSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>labelExceedStdLotSize</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>AddSubProcessExceedStdLotSize_2</name>
        <label>AddSubProcessExceedStdLotSize</label>
        <locationX>556</locationX>
        <locationY>2293</locationY>
        <connector>
            <targetReference>KeepTrackofRITBSubprocessTotalTAT_1_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITBWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess_TAT__c</field>
            <value>
                <elementReference>CalcTATwhenExceedStdRITBLotSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>labelExceedStdLotSize</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>AddTotalRITAWaferFABTAT</name>
        <label>AddTotalRITAWaferFABTAT</label>
        <locationX>355</locationX>
        <locationY>2533</locationY>
        <connector>
            <targetReference>RIT_B_Info_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITAWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>labelTotalRITATAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>AddTotalRITBWaferFABTAT</name>
        <label>AddTotalRITBWaferFABTAT</label>
        <locationX>564</locationX>
        <locationY>2607</locationY>
        <connector>
            <targetReference>AddShipPrepTAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITBWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>labelTotalRITBTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mask_start_Milestone</name>
        <label>Create Mask House start Milestone</label>
        <locationX>531</locationX>
        <locationY>1427</locationY>
        <assignRecordIdToReference>RitAMaskHouseCCDESKdateID</assignRecordIdToReference>
        <connector>
            <targetReference>calcMaskBldTATandEndDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>Burlington</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>RitAMaskHouseCCDESKdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WafSchedInputs_Object_0</name>
        <label>Create WafSchedInputs Object</label>
        <locationX>332</locationX>
        <locationY>289</locationY>
        <assignRecordIdToReference>WaferFabScheduleInputsID</assignRecordIdToReference>
        <connector>
            <targetReference>RIT_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>LOM_or_Mask_Layers__c</field>
            <value>
                <elementReference>MaskLayersORLevelsOfMetal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Levels_of_Metal__c</field>
            <value>
                <elementReference>ERPLookupVar.Levels_Of_Metal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mask_Build_TAT__c</field>
            <value>
                <elementReference>sobjMaskBuildTAT.TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Wafer_Schedule_Inputs_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_A_BTV_Fab_Transit_Time__c</field>
            <value>
                <elementReference>MaskTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_Type__c</field>
            <value>
                <elementReference>RIT_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTAT_Slot__c</field>
            <value>
                <elementReference>RTATSlotId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wafer_Build_Location__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRTATSlot</name>
        <label>CreateRTATSlot</label>
        <locationX>82</locationX>
        <locationY>422</locationY>
        <assignRecordIdToReference>RTATSlotId</assignRecordIdToReference>
        <connector>
            <targetReference>LookupRTATSlot</targetReference>
        </connector>
        <inputAssignments>
            <field>Conversion_Lot_Number__c</field>
            <value>
                <elementReference>Conversion_Lot_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERP_Device_for_Slot__c</field>
            <value>
                <elementReference>id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fab__c</field>
            <value>
                <elementReference>ERPLookupVar.Fab__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Charge_Code__c</field>
            <value>
                <elementReference>Internal_Charge_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPW__c</field>
            <value>
                <elementReference>MPWQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mfg_Instructions__c</field>
            <value>
                <elementReference>Manufacturing_Instructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RTAT_Slot_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Committed_Projection_Only__c</field>
            <value>
                <elementReference>Not_Committed_Projection_only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Order_Number__c</field>
            <value>
                <elementReference>SAP_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slot_Status__c</field>
            <value>
                <elementReference>ActiveSlotStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slot_Type__c</field>
            <value>
                <elementReference>Slot_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slot_Yield_Factor__c</field>
            <value>
                <elementReference>SlotYieldFactorbySlotType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technology__c</field>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wafer_Size__c</field>
            <value>
                <elementReference>ERPDevWafDiam</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Slot__c</object>
    </recordCreates>
    <recordCreates>
        <name>RIT_A_FAB_Prep_TAT</name>
        <label>RIT A FAB Prep TAT</label>
        <locationX>337</locationX>
        <locationY>1777</locationY>
        <connector>
            <targetReference>RIT_A_Normal_Wafer_TAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITAFabPrepTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>RIT_A_Mask_Bld_TAT</name>
        <label>RIT A Mask Bld TAT</label>
        <locationX>538</locationX>
        <locationY>1608</locationY>
        <assignRecordIdToReference>RITAMaskTATMilestone</assignRecordIdToReference>
        <connector>
            <targetReference>addMaskTransitTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>Burlington</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITAMaskTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>RIT_A_Normal_Wafer_TAT</name>
        <label>RIT A Normal Wafer  TAT</label>
        <locationX>340</locationX>
        <locationY>1887</locationY>
        <connector>
            <targetReference>KeepTrackofRITASubprocessTotalTAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITAWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess_TAT__c</field>
            <value>
                <elementReference>RIT_A_WAFER_BLD_TAT.Waf_Bld_TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>labelNormalWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <description>TAT for process options selected</description>
        <name>RIT_A_Proc_Options_Selected</name>
        <label>RIT A Proc Options Selected</label>
        <locationX>130</locationX>
        <locationY>2113</locationY>
        <connector>
            <targetReference>KeepTrackofSubprocessTotalTAT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITAWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess_TAT__c</field>
            <value>
                <elementReference>recordWaferFabProcOption.TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>recordWaferFabProcOption.Process_Option__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>RIT_A_Transit_TAT</name>
        <label>RIT A Transit TAT</label>
        <locationX>542</locationX>
        <locationY>1793</locationY>
        <assignRecordIdToReference>RITAMaskTATMilestone</assignRecordIdToReference>
        <connector>
            <targetReference>decisionRITAWaferTAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>Burlington</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITATransitTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>RIT_B_FAB_Prep_TAT</name>
        <label>RIT B FAB Prep TAT</label>
        <locationX>551</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>RIT_B_Normal_Wafer_TAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITBFabPrepTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>RIT_B_Normal_Wafer_TAT</name>
        <label>RIT B Normal Wafer  TAT</label>
        <locationX>605</locationX>
        <locationY>2116</locationY>
        <connector>
            <targetReference>KeepTrackofRITBSubprocessTotalTAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITBWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess_TAT__c</field>
            <value>
                <elementReference>RIT_B_WAFER_BLD_TAT.Waf_Bld_TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>labelNormalWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <description>TAT for RIT B process options selected</description>
        <name>RIT_B_Proc_Options_Selected</name>
        <label>RIT B Proc Options Selected</label>
        <locationX>713</locationX>
        <locationY>2296</locationY>
        <connector>
            <targetReference>KeepTrackofRITBSubprocessTotalTAT_0_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelRITBWaferTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess_TAT__c</field>
            <value>
                <elementReference>recordWaferFabProcOption.TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subprocess__c</field>
            <value>
                <elementReference>recordWaferFabProcOption.Process_Option__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_RIT_A_Line_Code</name>
        <label>Lookup RIT A Line Code</label>
        <locationX>334</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lot_Size_RIT_A</targetReference>
        </connector>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Multi_Part_Number_Build__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MPWQuestion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_A_Quuall</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Mfg_Line_Code__c</object>
        <outputReference>sobjMfgLineCode</outputReference>
        <queriedFields>Line_Code__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>Multi_Part_Number_Build__c</queriedFields>
        <queriedFields>Quality__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RIT_B_Line_Code</name>
        <label>Lookup RIT B Line Code</label>
        <locationX>955</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_RTAT_Lot_Size_RIT_B</targetReference>
        </connector>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Multi_Part_Number_Build__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MPWQuestion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_B_Quality</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Mfg_Line_Code__c</object>
        <outputReference>sobjMfgLineCodeRITB</outputReference>
        <queriedFields>Line_Code__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>Multi_Part_Number_Build__c</queriedFields>
        <queriedFields>Quality__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RTAT_Lot_Size_RIT_A</name>
        <label>Lookup RTAT Lot Size RIT A</label>
        <locationX>333</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_RIT_A_Line_Code</targetReference>
        </connector>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRODUCT_GROUP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_A_Sppeed</elementReference>
            </value>
        </filters>
        <object>RTAT_Lot_Size__c</object>
        <outputReference>sobjRTATLotSize_RITA</outputReference>
        <queriedFields>MAX_LOT_SIZE_A__c</queriedFields>
        <queriedFields>STD_LOT_SIZE_A__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>SPEED__c</queriedFields>
        <queriedFields>PRODUCT_GROUP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RTAT_Lot_Size_RIT_B</name>
        <label>Lookup RTAT Lot Size RIT B</label>
        <locationX>959</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lot_Size_RIT_B</targetReference>
        </connector>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRODUCT_GROUP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_B_Speed</elementReference>
            </value>
        </filters>
        <object>RTAT_Lot_Size__c</object>
        <outputReference>sobjRTATLotSize_RITB</outputReference>
        <queriedFields>MAX_LOT_SIZE_B__c</queriedFields>
        <queriedFields>STD_LOT_SIZE_B__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>SPEED__c</queriedFields>
        <queriedFields>PRODUCT_GROUP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Slot_Yield_Factor</name>
        <label>Lookup Slot Yield Factor</label>
        <locationX>76</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWafSchedInputs</targetReference>
        </connector>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wafer_size__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPDevWafDiam</elementReference>
            </value>
        </filters>
        <object>RTAT_Slot_Yield_Factor__c</object>
        <outputReference>SlotYieldFactor</outputReference>
        <queriedFields>EUH__c</queriedFields>
        <queriedFields>Proto__c</queriedFields>
        <queriedFields>Production_RTAT__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupMaskBuildTAT</name>
        <label>LookupMaskBuildTAT</label>
        <locationX>332</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WafSchedInputs_Object_0</targetReference>
        </connector>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Mask_Build_TAT__c</object>
        <outputReference>sobjMaskBuildTAT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TAT__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupMaskTransportTAT</name>
        <label>LookupMaskTransportTAT</label>
        <locationX>331</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupMaskBuildTAT</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Burlington</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>MaskTransitTime</outputReference>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>HANDCARRY_TAT_IN_DAYS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupRTATSlot</name>
        <label>LookupRTATSlot</label>
        <locationX>87</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupMaskTransportTAT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTATSlotId</elementReference>
            </value>
        </filters>
        <object>RTAT_Slot__c</object>
        <outputReference>sobjRTATSlot</outputReference>
        <queriedFields>ERP_Device_for_Slot__c</queriedFields>
        <queriedFields>ERP_Device_Fab__c</queriedFields>
        <queriedFields>ERP_Device_Deliverable_Type__c</queriedFields>
        <queriedFields>ERP_Device_Technology__c</queriedFields>
        <queriedFields>MPW__c</queriedFields>
        <queriedFields>Not_Committed_Projection_Only__c</queriedFields>
        <queriedFields>Slot_Status__c</queriedFields>
        <queriedFields>Slot_Type__c</queriedFields>
        <queriedFields>Conversion_Lot_Number__c</queriedFields>
        <queriedFields>Internal_Charge_Code__c</queriedFields>
        <queriedFields>SAP_Order_Number__c</queriedFields>
        <queriedFields>Mfg_Instructions__c</queriedFields>
        <queriedFields>Wafer_Size__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ParentERPDev</name>
        <label>ParentERPDev</label>
        <locationX>77</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTAT_Slot_GUI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <object>ERP_Device__c</object>
        <outputReference>ERPLookupVar</outputReference>
        <queriedFields>Wafer_Diameter__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
        <queriedFields>Fab__c</queriedFields>
        <queriedFields>Levels_Of_Metal__c</queriedFields>
        <queriedFields>Mask_Layer_Count__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>Test_wafer__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Deliverable_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RIT_A_Wafer_Fab_Process_Time</name>
        <label>RIT A Wafer Fab Process Time</label>
        <locationX>327</locationX>
        <locationY>868</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWafSchedWithRITAInfo</targetReference>
        </connector>
        <filters>
            <field>Levels_of_Metal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Levels_Of_Metal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RIT_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RitTypeA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_A_Sppeed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Build_TAT__c</object>
        <outputReference>RIT_A_WAFER_BLD_TAT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Waf_Bld_TAT__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RIT_B_Wafer_Fab_Process_Time</name>
        <label>RIT B Wafer Fab Process Time</label>
        <locationX>970</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWafSchedWithRIT_B_Info</targetReference>
        </connector>
        <filters>
            <field>Levels_of_Metal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Levels_Of_Metal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RIT_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RITBType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_B_Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Build_TAT__c</object>
        <outputReference>RIT_B_WAFER_BLD_TAT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Waf_Bld_TAT__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WaferProcessOptionsCollection</name>
        <label>WaferProcessOptionsCollection</label>
        <locationX>516</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StringWaferFabProcOptions</targetReference>
        </connector>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RIT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RitTypeA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_A_Sppeed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Waf_Fab_Process_Option__c</object>
        <outputReference>socWaferFabProcOptions</outputReference>
        <queriedFields>Process_Option__c</queriedFields>
        <queriedFields>TAT__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WaferProcessOptionsRITBCollection</name>
        <label>WaferProcessOptionsRITBCollection</label>
        <locationX>1138</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StringWaferFabProcOptionsRITB</targetReference>
        </connector>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RIT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RITBType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RIT_B_Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ERPLookupVar.Technology__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Waf_Fab_Process_Option__c</object>
        <outputReference>socWaferFabProcOptions</outputReference>
        <queriedFields>Process_Option__c</queriedFields>
        <queriedFields>TAT__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWaferFabSchedInputs</name>
        <label>UpdateWaferFabSchedInputs</label>
        <locationX>524</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>RIT_B_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProcOptionNamesRITA__c</field>
            <value>
                <elementReference>procOptionnames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcOptionNumChosenRITA__c</field>
            <value>
                <elementReference>CountProcOptsPicked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcOptionTATsRITA__c</field>
            <value>
                <elementReference>procOptionsTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWaferFabSchedInputsRITB</name>
        <label>UpdateWaferFabSchedInputsRITB</label>
        <locationX>1151</locationX>
        <locationY>892</locationY>
        <connector>
            <targetReference>Temporary_Entering_of_RTM_Actual_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProcOptionNamesRITB__c</field>
            <value>
                <elementReference>procOptionnames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcOptionNumChosenRITB__c</field>
            <value>
                <elementReference>CountProcOptsPicked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcOptionTATsRITB__c</field>
            <value>
                <elementReference>procOptionsTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_B_Wafer_Start_Quantity__c</field>
            <value>
                <elementReference>Lot_SizeRITB</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWafSchedWithMaskHouseCCDeskDate</name>
        <label>UpdateWafSchedWithMaskHouseCCDeskDate</label>
        <locationX>531</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>AssignEndDatesANDTotalTAT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mask_House_CCDESK_date__c</field>
            <value>
                <elementReference>TEMP_RTM_Actual_date</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWafSchedWithRIT_B_Info</name>
        <label>UpdateWafSchedWithRIT_B_Info</label>
        <locationX>970</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>RIT_B_Process_Option</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Base_RIT_B_TAT__c</field>
            <value>
                <elementReference>RIT_B_WAFER_BLD_TAT.Waf_Bld_TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_B_Job_Class__c</field>
            <value>
                <elementReference>RIT_B_Job_Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_B_Line_Code__c</field>
            <value>
                <elementReference>RIT_B_Line_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_B_Quality__c</field>
            <value>
                <elementReference>RIT_B_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_B_Speed__c</field>
            <value>
                <elementReference>RIT_B_Speed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_B_Wafer_Start_Quantity__c</field>
            <value>
                <elementReference>Lot_SizeRITB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_Type__c</field>
            <value>
                <elementReference>RIT_Type</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWafSchedWithRITAInfo</name>
        <label>UpdateWafSchedWithRITAInfo</label>
        <locationX>328</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference>RIT_A_Process_Option</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaferFabScheduleInputsID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Base_RIT_A_TAT__c</field>
            <value>
                <elementReference>RIT_A_WAFER_BLD_TAT.Waf_Bld_TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_A_Job_Class__c</field>
            <value>
                <elementReference>RIT_A_Job_Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_A_Line_Code__c</field>
            <value>
                <elementReference>RIT_A_Line_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_A_Quality__c</field>
            <value>
                <elementReference>RIT_A_Quuall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_A_Speed__c</field>
            <value>
                <elementReference>RIT_A_Sppeed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIT_A_Wafer_Start_Quantity__c</field>
            <value>
                <elementReference>Lot_SizeRITA</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
    </recordUpdates>
    <screens>
        <name>CreateWafSchedInputs</name>
        <label>CreateWafSchedInputs</label>
        <locationX>80</locationX>
        <locationY>327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRTATSlot</targetReference>
        </connector>
        <fields>
            <name>EnterWafSchedName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter a name for your wafer schedule and select the RIT Type:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wafer_Schedule_Inputs_Name</name>
            <dataType>String</dataType>
            <fieldText>Wafer Schedule Inputs - Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RIT_Type</name>
            <choiceReferences>RITtype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RIT Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>DisplayObjects</name>
        <label>Display settings</label>
        <locationX>479</locationX>
        <locationY>2857</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifFinishSched</targetReference>
        </connector>
        <fields>
            <name>LastScreenInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;RTAT Slot and Wafer Fab Schedule complete.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_finishing_schedule_now</name>
            <choiceReferences>yesCreateFin</choiceReferences>
            <choiceReferences>noCreateFin</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>noCreateFin</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do you want to Create a finishing schedule now?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Lot_Size_RIT_A</name>
        <label>Lot Size RIT A</label>
        <locationX>335</locationX>
        <locationY>760</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RIT_A_Wafer_Fab_Process_Time</targetReference>
        </connector>
        <fields>
            <name>slotinfo2</name>
            <fieldText>{!ttRTATSlot}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LotSizeMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter RIT A Wafer Start Quantity&lt;/B&gt; - &lt;FONT COLOR=&quot;#FF0000&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Maximum Lot Size is &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;{!sobjRTATLotSize_RITA.MAX_LOT_SIZE_A__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lot_SizeRITA</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sobjRTATLotSize_RITA.STD_LOT_SIZE_A__c</elementReference>
            </defaultValue>
            <fieldText>Standard Lot Size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!LotSizeErrorMsg}</errorMessage>
                <formulaExpression>AND(({!Lot_SizeRITA} &lt;= {!MaxLotSizeRitA}) || ({!WafBldLocFormula} != &apos;BURLINGTON&apos; ),
{!Lot_SizeRITA} &gt; 0)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RIT_A_Line_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sobjMfgLineCode.Line_Code__c</elementReference>
            </defaultValue>
            <fieldText>RIT A Line Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Enter only a single character for Line Code.</errorMessage>
                <formulaExpression>(LEN({!RIT_A_Line_Code}) &lt; 2)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RIT_A_Job_Class</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>JobClassDefault</elementReference>
            </defaultValue>
            <fieldText>RIT A Job Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Enter only a single character for Job Class.</errorMessage>
                <formulaExpression>(LEN({!RIT_A_Job_Class}) &lt; 2)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Lot_Size_RIT_B</name>
        <label>Lot Size RIT B</label>
        <locationX>967</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Levels_of_Metal_or_Mask_Layer_count_0</targetReference>
        </connector>
        <fields>
            <name>ttRtatSlotRitB</name>
            <fieldText>{!ttRTATSlot}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LotSizeMsg_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Enter RIT B Wafer Start Quantity - &lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;Maximum Lot Size is &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;{!sobjRTATLotSize_RITB.MAX_LOT_SIZE_B__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lot_SizeRITB</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sobjRTATLotSize_RITB.STD_LOT_SIZE_B__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Standard Lot Size&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!LotSizeErrorMsg}</errorMessage>
                <formulaExpression>AND(({!WafBldLocFormula} != &apos;BURLINGTON&apos; ) || ({!Lot_SizeRITB} &lt;= {!MaxLotSizeRITB} ), 
{!Lot_SizeRITB} &gt; 0)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RIT_B_Line_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sobjMfgLineCodeRITB.Line_Code__c</elementReference>
            </defaultValue>
            <fieldText>RIT B Line Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Enter only a single character for Line Code.</errorMessage>
                <formulaExpression>(LEN({!RIT_B_Line_Code}) &lt; 2)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RIT_B_Job_Class</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>JobClassDefault</elementReference>
            </defaultValue>
            <fieldText>RIT B Job Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Enter only a single character for Job Class</errorMessage>
                <formulaExpression>LEN({!RIT_B_Job_Class}) &lt; 2</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Need_to_support_Mask_Layers_0</name>
        <label>Need to support Mask Layers</label>
        <locationX>886</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MaskLayerlookup_0</name>
            <fieldText>We need to add the table for Mask Layer lookup</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>QueryModSchedule</name>
        <label>QueryModSchedule</label>
        <locationX>476</locationX>
        <locationY>3186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifModuleSched</targetReference>
        </connector>
        <fields>
            <name>LastScreenInfo_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;RTAT Slot and Wafer Fab Schedule complete.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_module_schedule_now_0</name>
            <choiceReferences>Yes_create_a_module_Schedule</choiceReferences>
            <choiceReferences>No_don_t_create_a_module_schedule</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do you want to Create a module schedule now?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RIT_A_GUI</name>
        <label>RIT A GUI</label>
        <locationX>334</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_RTAT_Lot_Size_RIT_A</targetReference>
        </connector>
        <fields>
            <name>slotINFO</name>
            <fieldText>{!ttRTATSlot}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RITASpeedQualMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select the RIT A speed and quality:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RIT_A_Sppeed</name>
            <choiceReferences>plRIT_B_Speed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RIT A Speed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RIT_A_Quuall</name>
            <choiceReferences>RITAQuality</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RIT A Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Wafer_Build_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WafBldLocFormula</elementReference>
            </defaultValue>
            <fieldText>Wafer Build Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RIT_A_Process_Option</name>
        <label>RIT A Process Option</label>
        <locationX>516</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WaferProcessOptionsCollection</targetReference>
        </connector>
        <fields>
            <name>SlotInfoProcOpt</name>
            <fieldText>{!ttRTATSlot}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RITAProcOptDirections</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Wafer Process Options:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wafer_Process_Options_RIT_A</name>
            <choiceReferences>WafProcOptsRITA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wafer Process Options RIT A</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RIT_B_GUI</name>
        <label>RIT B GUI</label>
        <locationX>956</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_RIT_B_Line_Code</targetReference>
        </connector>
        <fields>
            <name>slotInfoRitB</name>
            <fieldText>{!ttRTATSlot}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RITBSpeedQualMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select the RIT B Speed and Quality:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RIT_B_Speed</name>
            <choiceReferences>plRIT_B_Speed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RIT B Speed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RIT_B_Quality</name>
            <choiceReferences>RITBQual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RIT B Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RIT_B_Process_Option</name>
        <label>RIT B Process Option</label>
        <locationX>1123</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WaferProcessOptionsRITBCollection</targetReference>
        </connector>
        <fields>
            <name>ttSlotInfoRtiBprocOpt</name>
            <fieldText>{!ttRTATSlot}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckRITBProcessOptions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select RIT B process options:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wafer_Process_Options_for_RIT_B</name>
            <choiceReferences>WafProcOptsRITB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wafer Process Options for RIT B</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <description>whatever</description>
        <name>RITTypeFault</name>
        <label>RITTypeFault</label>
        <locationX>594</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCreatingWafFabSchedInputs</name>
            <fieldText>Error:  Problem choosing RIT Type</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Pausing dialog...</pausedText>
    </screens>
    <screens>
        <description>does this show up anywhere</description>
        <name>RTAT_Slot_GUI</name>
        <label>RTAT Slot GUI</label>
        <locationX>76</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Slot_Yield_Factor</targetReference>
        </connector>
        <fields>
            <name>RTAT_Slot_Name</name>
            <dataType>String</dataType>
            <fieldText>RTAT Slot Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Slot_type</name>
            <choiceReferences>RTATSlotType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Slot type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MPWQuestion</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;MPW?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Not_Committed_Projection_only</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Not Committed - Projection only</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Conversion_Lot_Number</name>
            <dataType>String</dataType>
            <fieldText>Conversion Lot Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SAP_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>SAP Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Internal_Charge_Code</name>
            <dataType>String</dataType>
            <fieldText>Internal Charge Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manufacturing_Instructions</name>
            <fieldText>Manufacturing Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>General_Comments</name>
            <fieldText>General Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;RTAT Slot creation Pause message (TBD)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</pausedText>
    </screens>
    <screens>
        <name>SchedulingComplete</name>
        <label>SchedulingComplete</label>
        <locationX>692</locationX>
        <locationY>2942</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScheduleDone</name>
            <fieldText>Click to exit</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Temporary_Entering_of_RTM_Actual_Date</name>
        <label>Temporary Entering of RTM Actual Date</label>
        <locationX>525</locationX>
        <locationY>1080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateWafSchedWithMaskHouseCCDeskDate</targetReference>
        </connector>
        <fields>
            <name>TEMP_RTM_Actual_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>TEMPORARY!  Enter RTM Actual date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>ParentERPDev</startElementReference>
    <subflows>
        <name>addMaskTransitTime</name>
        <label>addMaskTransitTime</label>
        <locationX>539</locationX>
        <locationY>1698</locationY>
        <connector>
            <targetReference>RIT_A_Transit_TAT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>Burlington</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>MaskTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcMaskBldTATandEndDate</name>
        <label>calcMaskBldTATandEndDate</label>
        <locationX>533</locationX>
        <locationY>1521</locationY>
        <connector>
            <targetReference>RIT_A_Mask_Bld_TAT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjMaskBuildTAT.TAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>Burlington</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcTotalRITAWafFabTATandEndDate</name>
        <label>calcTotalRITAWafFabTATandEndDate</label>
        <locationX>351</locationX>
        <locationY>2426</locationY>
        <connector>
            <targetReference>AddTotalRITAWaferFABTAT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcTotalRITBWafFabTATandEndDate</name>
        <label>calcTotalRITBWafFabTATandEndDate</label>
        <locationX>560</locationX>
        <locationY>2494</locationY>
        <connector>
            <targetReference>AddTotalRITBWaferFABTAT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>WafBldLocFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CallFinishingScheduleFlow</name>
        <label>CallFinishingScheduleFlow</label>
        <locationX>471</locationX>
        <locationY>3079</locationY>
        <connector>
            <targetReference>QueryModSchedule</targetReference>
        </connector>
        <flowName>RTATCreateWaferFinishingSchedule</flowName>
        <inputAssignments>
            <name>varRTATSlotId</name>
            <value>
                <elementReference>sobjRTATSlot.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varFinishSchedID</assignToReference>
            <name>varWafFinishSchedId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flowRTATCreateModuleSchedule</name>
        <label>flowRTATCreateModuleSchedule</label>
        <locationX>479</locationX>
        <locationY>3399</locationY>
        <connector>
            <targetReference>SchedulingComplete</targetReference>
        </connector>
        <flowName>RTATCreateModuleSchedule</flowName>
        <inputAssignments>
            <name>varRTATSlotId</name>
            <value>
                <elementReference>sobjRTATSlot.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varModuleScheduleId</assignToReference>
            <name>varModuleSchedId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Text Template for Slot info</description>
        <name>ttRTATSlot</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;RTAT Slot&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Slot Name: &lt;/B&gt;{!sobjRTATSlot.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Deliverable Type:&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.ERP_Device_Deliverable_Type__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fab: &lt;/B&gt;{!sobjRTATSlot.ERP_Device_Fab__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Technology: &lt;/B&gt;{!sobjRTATSlot.ERP_Device_Technology__c}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>CountProcOptsPicked</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ERPLookupVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERP_Device__c</objectType>
    </variables>
    <variables>
        <name>FabShutDownDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Fab_Shutdown_Date__c</objectType>
    </variables>
    <variables>
        <description>The Slot&apos;s parent ERP Device record ID</description>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>record for the appropriate transit time</description>
        <name>MaskTransitTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Transit_Time__c</objectType>
    </variables>
    <variables>
        <name>myCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <name>ProcOptionLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>procOptionnames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>procOptionsTAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>single record object of wafer fab process option to hold one of the sobject collection variable entries</description>
        <name>recordWaferFabProcOption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <description>get RIT A wafer build TAT</description>
        <name>RIT_A_WAFER_BLD_TAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Build_TAT__c</objectType>
    </variables>
    <variables>
        <description>Object to hold Rit B wafer bld time object</description>
        <name>RIT_B_WAFER_BLD_TAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Build_TAT__c</objectType>
    </variables>
    <variables>
        <name>RitAMaskHouseCCDESKdateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RITAMaskTATMilestone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RITAWafFabProcOptsPicked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <description>collection of the process options chosen</description>
        <name>RITBWaferFabProcOptionsPicked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <description>New slot record&apos;s ID</description>
        <name>RTATSlotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of Slot</description>
        <name>SlotName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>get the three slot yield factors</description>
        <name>SlotYieldFactor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Slot_Yield_Factor__c</objectType>
    </variables>
    <variables>
        <name>sObjCollsWafFabjProcOptIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <description>get the TAT for building a mask set for a given technology</description>
        <name>sobjMaskBuildTAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mask_Build_TAT__c</objectType>
    </variables>
    <variables>
        <name>sobjMfgLineCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mfg_Line_Code__c</objectType>
    </variables>
    <variables>
        <name>sobjMfgLineCodeRITB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mfg_Line_Code__c</objectType>
    </variables>
    <variables>
        <description>rtat lot size</description>
        <name>sobjRTATLotSize_RITA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Lot_Size__c</objectType>
    </variables>
    <variables>
        <description>Get std and maximum lot size for RIT B lot</description>
        <name>sobjRTATLotSize_RITB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Lot_Size__c</objectType>
    </variables>
    <variables>
        <name>sobjRTATSlot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Slot__c</objectType>
    </variables>
    <variables>
        <name>sobjSiteShutDown</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Fab_Shutdown_Date__c</objectType>
    </variables>
    <variables>
        <description>collection of wafer fab process options to loop through</description>
        <name>socWaferFabProcOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <name>sWafFabjProcOptIDs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Waf_Fab_Process_Option__c</objectType>
    </variables>
    <variables>
        <name>TextWaferProcOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the end date, so far, computed by adding Total TAT to start date</description>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinishSchedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Location of current milestone</description>
        <name>varLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varModuleScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Get the first Shutdown date</description>
        <name>varShutdownDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Start date (RTM Actual date) for Fab schedule</description>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TEMP_RTM_Actual_date</elementReference>
        </value>
    </variables>
    <variables>
        <description>total, so far of TATs</description>
        <name>varTotalTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WaferFabProcessOptionIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaferFabScheduleInputsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaferProcessOptionsTATsCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WaferProcOptionNamesCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
