flows/Notify_to_PIYE_after_Packaging_User_Approval-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab6</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Notify to Fab6</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab6</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab7</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Notify to Fab7</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab7</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab8</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Notify to Fab8</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab8</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab9</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Notify to Fab9</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab9</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab1</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify to Fab1</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab1</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Notify to Fab2</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab2</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab3</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Notify to Fab3</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab3</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab3E</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Notify to Fab3E</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab3E</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Configuration_Email_Alert_for_PIYE_Users_Fab5</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Notify to Fab5</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Configuration_Email_Alert_for_PIYE_Users_Fab5</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Is Fab1</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Is Fab6</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>Is Fab7</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_pmetdec</targetReference>
            </connector>
            <label>Is Fab8</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_pmetdec</targetReference>
            </connector>
            <label>Is Fab9</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Is Fab2</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Is Fab3</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Is Fab 3E</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Is Fab 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_15_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_15_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_15_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_17_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_17_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_17_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>If packaging team has already approved the request and No changes have been made after approval of the packaging team, then go to this process</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 1&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 1&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 6&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 6&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 6&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 6&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 7&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 7&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 7&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 7&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 8&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 9&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 9&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 9&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 9&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 1&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 1&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 2&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 2&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 2&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 2&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 3&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 3&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 3&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 3&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 3E&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 3E&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 3E&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 3E&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 5&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Fab_Name__c} == &quot;FAB 5&quot; 
&amp;&amp; ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_current.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal__c].Fab_Name__c == &quot;FAB 5&quot; 
&amp;&amp; ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Package Accepted Phase&quot;)
&amp;&amp; [Apttus_Proposal__Proposal__c].Is_Packaging_Information_Updated__c ==FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.Fab_Name__c} == &quot;FAB 5&quot; 
&amp;&amp; ISPICKVAL({!myVariable_old.Apttus_Proposal__Approval_Stage__c}, &quot;Package Accepted Phase&quot;)
&amp;&amp; {!myVariable_old.Is_Packaging_Information_Updated__c} ==FALSE</expression>
    </formulas>
    <interviewLabel>Notify_to_PIYE_after_Packaging_User_Approval-1_InterviewLabel</interviewLabel>
    <label>Notify to PIYE  after Packaging  User Approval</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Apttus_Proposal__Proposal__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
