flows/RTATCreateWaferFinishingSchedule-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignNextLocation</name>
        <label>assignNextLocation</label>
        <locationX>573</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>varNextLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjWFCT.Location_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkToLookupTransitTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPrevLoc</name>
        <label>assignPrevLoc</label>
        <locationX>579</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopChosenWaferFinishOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStartAndEnddatesAndTotalTAT</name>
        <label>AssignStartAndEnddatesAndTotalTAT</label>
        <locationX>159</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varTotalTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjMilestoneTAT.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Wafer_Build_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalcFirstEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWFT_BTV_to_PrevLoc</name>
        <label>assignWFT_BTV_to_PrevLoc</label>
        <locationX>932</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNextLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWFTLoc</name>
        <label>assignWFTLoc</label>
        <locationX>659</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varNextLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWFTMilestoneAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookupWaferFinalTestCycleTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>boolWFTAddedToMilestones</name>
        <label>boolWFTAddedToMilestones</label>
        <locationX>538</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>varWFTMilestoneAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupFinishingOptionTATs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalcFirstEndDate</name>
        <label>CalcFirstEndDate</label>
        <locationX>161</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Wafer_Finish_Start_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectFinishOptionsChosen</name>
        <label>collectFinishOptionsChosen</label>
        <locationX>395</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>collFinishOptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjWaferFinishCycleTime.Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collFinishOptionTATs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjWaferFinishCycleTime.Cycle_times__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinishOptionsTotalTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjWaferFinishCycleTime.Cycle_times__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinishOptionLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjWaferFinishCycleTime.Location_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjCollectionWFCTchosen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjWaferFinishCycleTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruFinishCycleTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStringsForOptions</name>
        <label>SetStringsForOptions</label>
        <locationX>156</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>sFinishOptionLabels</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFinishOptionTATs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruFinishCycleTimes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultSpeedfromFab</name>
        <choiceText>defaultSpeedfromFab</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varSpeed</elementReference>
        </value>
    </choices>
    <choices>
        <name>plRAMP</name>
        <choiceText>plRAMP</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Ramp</promptText>
        </userInput>
        <value>
            <elementReference>varSpeed</elementReference>
        </value>
    </choices>
    <choices>
        <name>plTURBO</name>
        <choiceText>plTURBO</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TurboSpeed</elementReference>
        </value>
    </choices>
    <constants>
        <name>BURLINGTON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BURLINGTON</stringValue>
        </value>
    </constants>
    <constants>
        <name>constant200MM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>200MM</stringValue>
        </value>
    </constants>
    <constants>
        <description>Ship Prep TAT</description>
        <name>constShipMilestoneLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship Prep TAT</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelShiptoBAorCustomer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wafers/Devices Ship to Customer or BA</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelToStockTransit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wafers/Devices to Stock Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelWaferFinishPrepTime</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wafer Finish Prep Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelWaferFinishScheduleStartDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wafer Finish Schedule Start Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>LabelWFT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wafer Final Test</stringValue>
        </value>
    </constants>
    <constants>
        <name>TurboSpeed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TURBO</stringValue>
        </value>
    </constants>
    <constants>
        <name>WAFER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WAFER</stringValue>
        </value>
    </constants>
    <constants>
        <description>0</description>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>checkToLookupTransitTime</name>
        <label>checkToLookupTransitTime</label>
        <locationX>746</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>ErrorOnLocCompare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PrevandNextLocDifferent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupWaferFinishTransitTime</targetReference>
            </connector>
            <label>PrevandNextLocDifferent</label>
        </rules>
        <rules>
            <name>PrevAndNextLocMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calcWaferFinishOptionTATandEndDate</targetReference>
            </connector>
            <label>PrevAndNextLocMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkToLookupWFTTransitTime</name>
        <label>checkToLookupWFTTransitTime</label>
        <locationX>659</locationX>
        <locationY>608</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PrevandNextLocDifferent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupWaferFinishTransitTime_0</targetReference>
            </connector>
            <label>PrevandNextLocDifferent</label>
        </rules>
        <rules>
            <name>PrevAndNextLocMatch_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calcWFTCTandEndDate_0</targetReference>
            </connector>
            <label>PrevAndNextLocMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_WFT</name>
        <label>If_WFT</label>
        <locationX>355</locationX>
        <locationY>1054</locationY>
        <defaultConnector>
            <targetReference>assignNextLocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotAddingWFT</defaultConnectorLabel>
        <rules>
            <name>AddWFTMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wafer_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWFTMilestoneAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstCharFinishOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstCharFinishOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignWFTLoc</targetReference>
            </connector>
            <label>AddWFTMilestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfWFTChosen</name>
        <label>IfWFTChosen</label>
        <locationX>369</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_WFT_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wafer_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupWaferFinalTestTierANDCycleTime</targetReference>
            </connector>
            <label>If_WFT_chosen</label>
        </rules>
        <rules>
            <name>No_WFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wafer_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupFinishingOptionTATs</targetReference>
            </connector>
            <label>No_WFT</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsWaferFinishChosen</name>
        <label>IsWaferFinishChosen</label>
        <locationX>391</locationX>
        <locationY>585</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PickedFinishOpt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>itemChosenfromList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collectFinishOptionsChosen</targetReference>
            </connector>
            <label>PickedFinishOpt</label>
        </rules>
        <rules>
            <name>OptionNotChosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>itemChosenfromList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThruFinishCycleTimes</targetReference>
            </connector>
            <label>OptionNotChosed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>drcTestTier</name>
        <dataType>Number</dataType>
        <displayField>Test_Tier__c</displayField>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WAFER</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_and_Module_Test_Time__c</object>
        <valueField>Test_Tier__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>drcWaferFinishCycleTimes</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Chip_Attach_Technology__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Chip_Attach_Technology</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wafer_Size__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Wafer_Size__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Finish_Cycle_Time__c</object>
        <outputAssignments>
            <assignToReference>varCycleTimes</assignToReference>
            <field>Cycle_times__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWaferFinishMilestoneName</assignToReference>
            <field>Finish_Milestone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLocationName</assignToReference>
            <field>Location_Name__c</field>
        </outputAssignments>
        <sortField>Finish_Milestone__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Label__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plChipAttach</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Chip_Attach_Type__c</picklistField>
        <picklistObject>RTAT_Wafer_Finish_Sched_Input__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plQual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quality__c</picklistField>
        <picklistObject>RTAT_Wafer_Finish_Sched_Input__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaferFinishSpeed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Speed__c</picklistField>
        <picklistObject>RTAT_Wafer_Finish_Sched_Input__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>defaultLotSize</name>
        <dataType>Number</dataType>
        <expression>CASE({!sobjWaferFabScheduleInputs.RIT_Type__c}, 
&quot;AB&quot;, {!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c},
&quot;A&quot;, {!sobjWaferFabScheduleInputs.RIT_A_Wafer_Start_Quantity__c},
&quot;B&quot;, {!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c},
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>defaultLotSizeWSlotYldFactor</name>
        <dataType>Number</dataType>
        <expression>CASE({!sobjWaferFabScheduleInputs.RIT_Type__c}, 
&quot;AB&quot;,({!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c} * ({!sobjRTATSlot.Slot_Yield_Factor__c})),
&quot;A&quot;, ({!sobjWaferFabScheduleInputs.RIT_A_Wafer_Start_Quantity__c} * ({!sobjRTATSlot.Slot_Yield_Factor__c})),
&quot;B&quot;, ({!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c} * ({!sobjRTATSlot.Slot_Yield_Factor__c})),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultWaferFinishSchedName</name>
        <dataType>String</dataType>
        <expression>{!sobjRTATSlot.Name} + &apos;_FIN&apos;</expression>
    </formulas>
    <formulas>
        <name>FirstCharFinishOption</name>
        <dataType>String</dataType>
        <expression>LEFT({!sobjWFCT.Label__c}, 1)</expression>
    </formulas>
    <formulas>
        <name>itemChosenfromList</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(
UPPER({!WaferFinishCheckboxes} ),
UPPER(TRIM( {!sobjWaferFinishCycleTime.Label__c} ))
)</expression>
    </formulas>
    <formulas>
        <name>Label40Chars</name>
        <dataType>String</dataType>
        <expression>LEFT({!sobjWFCT.Label__c}, 40)</expression>
    </formulas>
    <formulas>
        <name>labelTransitTime</name>
        <dataType>String</dataType>
        <expression>&apos;Transit: &apos;  &amp;  {!prevLoc} &amp; &apos; to &apos;  &amp; {!varNextLoc}</expression>
    </formulas>
    <interviewLabel>RTATCreateWaferFinishingSchedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTATCreateWaferFinishingSchedule</label>
    <loops>
        <name>loopChosenWaferFinishOptions</name>
        <label>loopChosenWaferFinishOptions</label>
        <locationX>359</locationX>
        <locationY>1172</locationY>
        <assignNextValueToReference>sobjWFCT</assignNextValueToReference>
        <collectionReference>sobjCollectionWFCTchosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_WFT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Transit_To_Stock_Milestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThruFinishCycleTimes</name>
        <label>loopThruFinishCycleTimes</label>
        <locationX>155</locationX>
        <locationY>726</locationY>
        <assignNextValueToReference>sobjWaferFinishCycleTime</assignNextValueToReference>
        <collectionReference>sobjListWaferFinishCycleTimes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsWaferFinishChosen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignStartAndEnddatesAndTotalTAT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transit_To_Stock_Milestone</name>
        <label>Create Transit To Stock Milestone</label>
        <locationX>358</locationX>
        <locationY>1288</locationY>
        <assignRecordIdToReference>varFirstMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Wafer_Finish_PostFab_buffer_Milestone_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelToStockTransit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Wafer_Finish_PostFab_buffer_Milestone</name>
        <label>Create Wafer Finish PostFab buffer Milestone</label>
        <locationX>166</locationX>
        <locationY>1171</locationY>
        <assignRecordIdToReference>varFirstMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>loopChosenWaferFinishOptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Wafer_Build_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelWaferFinishPrepTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Wafer_Finish_PostFab_buffer_Milestone_0_0</name>
        <label>Create Wafer Finish PostFab buffer Milestone</label>
        <locationX>359</locationX>
        <locationY>1389</locationY>
        <assignRecordIdToReference>varFirstMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateWaferFinishScheduleInputs</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelShiptoBAorCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Wafer_Finish_Start_Milestone</name>
        <label>Create Wafer Finish Start Milestone</label>
        <locationX>163</locationX>
        <locationY>1073</locationY>
        <assignRecordIdToReference>varFirstMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Wafer_Finish_PostFab_buffer_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Wafer_Build_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelWaferFinishScheduleStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWaferFinishScheduleInputs</name>
        <label>CreateWaferFinishScheduleInputs</label>
        <locationX>363</locationX>
        <locationY>1497</locationY>
        <assignRecordIdToReference>varWafFinishSchedId</assignRecordIdToReference>
        <connector>
            <targetReference>FinishingScheduleCompleteScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FAULTonWaferFinishScheduleCreation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Chip_Attach_Type__c</field>
            <value>
                <elementReference>Chip_Attach_Technology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lot_size__c</field>
            <value>
                <elementReference>Lot_size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Wafer_Finish_Schedule_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quality__c</field>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTAT_Slot__c</field>
            <value>
                <elementReference>varRTATSlotId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speed__c</field>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Tier__c</field>
            <value>
                <elementReference>Test_Tier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wafer_Finish_Start_Date__c</field>
            <value>
                <elementReference>Wafer_Finish_Start_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wafer_Test__c</field>
            <value>
                <elementReference>Wafer_Test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wafer_or_device_to_stock_quantity__c</field>
            <value>
                <elementReference>Wafer_or_device_to_stock_qty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wafer_size__c</field>
            <value>
                <elementReference>sobjRTATSlot.Wafer_Size__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Wafer_Finish_Sched_Input__c</object>
    </recordCreates>
    <recordCreates>
        <name>createWafFinishOptionTAT</name>
        <label>createWafFinishOptionTAT</label>
        <locationX>740</locationX>
        <locationY>1263</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>assignPrevLoc</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>sobjWFCT.Location_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>Label40Chars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>sobjWFCT.Cycle_times__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>createWFT_CT</name>
        <label>createWFT_CT</label>
        <locationX>1152</locationX>
        <locationY>850</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>assignWFT_BTV_to_PrevLoc</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>LabelWFT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>sobjWFTCT.CYCLE_TIME_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>WafFinishTransitTimeMilestone</name>
        <label>WafFinishTransitTimeMilestone</label>
        <locationX>1055</locationX>
        <locationY>1161</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>calcWaferFinishOptionTATandEndDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelTransitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>WFTTransitTimeMilestone</name>
        <label>WFTTransitTimeMilestone</label>
        <locationX>1135</locationX>
        <locationY>634</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>calcWFTCTandEndDate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelTransitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordLookups>
        <name>FastLookupWaferFinishTransitTime</name>
        <label>FastLookupWaferFinishTransitTime</label>
        <locationX>1051</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcFinishWaferStartTransitTime</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>sobjTransitTime</outputReference>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupWaferFinishTransitTime_0</name>
        <label>FastLookupWaferFinishTransitTime</label>
        <locationX>944</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcFinishWaferStartTransitTime_0</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>sobjTransitTime</outputReference>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupERPDevice</name>
        <label>LookupERPDevice</label>
        <locationX>146</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupWaferFabSchedule</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.ERP_Device_for_Slot__c</elementReference>
            </value>
        </filters>
        <object>ERP_Device__c</object>
        <outputReference>sobjParentERPDevice</outputReference>
        <queriedFields>Back_Side_Grind__c</queriedFields>
        <queriedFields>Bonding_Type__c</queriedFields>
        <queriedFields>Wafer_Tester_Type__c</queriedFields>
        <queriedFields>Chips_per_Wafer__c</queriedFields>
        <queriedFields>Test_wafer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupFinishingOptionTATs</name>
        <label>LookupFinishingOptionTATs</label>
        <locationX>150</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>showDynamicChoiceWaferFinishOptions</targetReference>
        </connector>
        <filters>
            <field>Chip_Attach_Technology__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Chip_Attach_Technology</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wafer_Size__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Wafer_Size__c</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Finish_Cycle_Time__c</object>
        <outputReference>sobjListWaferFinishCycleTimes</outputReference>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>Finish_Milestone__c</queriedFields>
        <queriedFields>Cycle_times__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <sortField>Finish_Milestone__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupParentRTATSlot</name>
        <label>LookupParentRTATSlot</label>
        <locationX>145</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupERPDevice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleNoRTATSlotid</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTATSlotId</elementReference>
            </value>
        </filters>
        <object>RTAT_Slot__c</object>
        <outputReference>sobjRTATSlot</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Wafer_Size__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
        <queriedFields>ERP_Device_Deliverable_Type__c</queriedFields>
        <queriedFields>ERP_Device_Fab__c</queriedFields>
        <queriedFields>MPW__c</queriedFields>
        <queriedFields>Slot_Yield_Factor__c</queriedFields>
        <queriedFields>ERP_Device_for_Slot__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupWaferFabSchedule</name>
        <label>LookupWaferFabSchedule</label>
        <locationX>150</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupWaferFabScheduleEndDate</targetReference>
        </connector>
        <filters>
            <field>RTAT_Slot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTATSlotId</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
        <outputReference>sobjWaferFabScheduleInputs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RIT_Type__c</queriedFields>
        <queriedFields>RIT_A_Speed__c</queriedFields>
        <queriedFields>RIT_B_Speed__c</queriedFields>
        <queriedFields>RIT_A_Quality__c</queriedFields>
        <queriedFields>RIT_B_Quality__c</queriedFields>
        <queriedFields>RIT_A_Wafer_Start_Quantity__c</queriedFields>
        <queriedFields>RIT_B_Wafer_Start_Quantity__c</queriedFields>
        <queriedFields>Wafer_Build_Location__c</queriedFields>
        <queriedFields>Slot_Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupWaferFabScheduleEndDate</name>
        <label>LookupWaferFabScheduleEndDate</label>
        <locationX>152</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryFinishingInput</targetReference>
        </connector>
        <filters>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>constShipMilestoneLabel</elementReference>
            </value>
        </filters>
        <object>RTAT_Sched_TAT_Adjust__c</object>
        <outputReference>sobjMilestoneTAT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Total_TAT__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupWaferFinalTestCycleTime</name>
        <label>lookupWaferFinalTestCycleTime</label>
        <locationX>660</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkToLookupWFTTransitTime</targetReference>
        </connector>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Test_Tier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WAFER</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_and_Module_Test_Time__c</object>
        <outputReference>sobjWFTCT</outputReference>
        <queriedFields>CYCLE_TIME_IN_DAYS__c</queriedFields>
        <queriedFields>Test_Tier__c</queriedFields>
        <queriedFields>SPEED__c</queriedFields>
        <queriedFields>Test_Type__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupWaferFinalTestTierANDCycleTime</name>
        <label>lookupWaferFinalTestTierANDCycleTime</label>
        <locationX>536</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectTestTier</targetReference>
        </connector>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WAFER</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_and_Module_Test_Time__c</object>
        <outputReference>sobjCollectionWFTTierCT</outputReference>
        <queriedFields>CYCLE_TIME_IN_DAYS__c</queriedFields>
        <queriedFields>Test_Tier__c</queriedFields>
        <queriedFields>SPEED__c</queriedFields>
        <queriedFields>Test_Type__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ErrorOnLocCompare</name>
        <label>ErrorOnLocCompare</label>
        <locationX>902</locationX>
        <locationY>942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProblemsWithPrevAndNextLocCompare</name>
            <fieldText>Problems with comparing the Previous location and the next location.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FAULTonWaferFinishScheduleCreation</name>
        <label>FAULTonWaferFinishScheduleCreation</label>
        <locationX>152</locationX>
        <locationY>1493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tempMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Error when creating Wafer Finish Schedule Inputs record&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fault Msg&lt;/B&gt;: {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FinishingScheduleCompleteScreen</name>
        <label>FinishingScheduleCompleteScreen</label>
        <locationX>365</locationX>
        <locationY>1604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>holdingText</name>
            <fieldText>{!ttWaferFinishScheduleInputs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleNoRTATSlotid</name>
        <label>HandleNoRTATSlotid</label>
        <locationX>347</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNoSlotId</name>
            <fieldText>No RTAT Slot id was passed in as a parameter</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>Start by Getting the input</description>
        <name>QueryFinishingInput</name>
        <label>QueryFinishingInput</label>
        <locationX>153</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfWFTChosen</targetReference>
        </connector>
        <fields>
            <name>ShowInputVars</name>
            <fieldText>{!ttWafFabSched}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wafer_Finish_Schedule_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultWaferFinishSchedName</elementReference>
            </defaultValue>
            <fieldText>Wafer Finish Schedule Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quality</name>
            <choiceReferences>plQual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Wafer_Test</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer Test?&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Speed</name>
            <choiceReferences>WaferFinishSpeed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Speed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chip_Attach_Technology</name>
            <choiceReferences>plChipAttach</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chip Attach Technology</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lot_size</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>defaultLotSize</elementReference>
            </defaultValue>
            <fieldText>Lot size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Wafer_or_device_to_stock_qty</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varLotSize</elementReference>
            </defaultValue>
            <fieldText>Wafer or device to stock qty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>defaultLotSize_x_SlotYldFactor</name>
            <fieldText>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lot size * Slot Yld Factor =  {!defaultLotSize} x {!sobjRTATSlot.Slot_Yield_Factor__c}% = &lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;{!defaultLotSizeWSlotYldFactor}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wafer_Finish_Start_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>sobjMilestoneTAT.End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Wafer Finish Start date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SelectTestTier</name>
        <label>SelectTestTier</label>
        <locationX>534</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>boolWFTAddedToMilestones</targetReference>
        </connector>
        <fields>
            <name>LabelSelectTestTier</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select a test tier for wafer final test&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test_Tier</name>
            <choiceReferences>drcTestTier</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Test Tier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
    </screens>
    <screens>
        <name>showDynamicChoiceWaferFinishOptions</name>
        <label>showDynamicChoiceWaferFinishOptions</label>
        <locationX>153</locationX>
        <locationY>532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetStringsForOptions</targetReference>
        </connector>
        <fields>
            <name>WaferFinishCheckboxes</name>
            <choiceReferences>drcWaferFinishCycleTimes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WaferFinishCheckboxes</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>LookupParentRTATSlot</startElementReference>
    <subflows>
        <name>calcFinishWaferStartTransitTime</name>
        <label>calcFinishWaferStartTransitTime</label>
        <locationX>1053</locationX>
        <locationY>1069</locationY>
        <connector>
            <targetReference>WafFinishTransitTimeMilestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjTransitTime.From_Loc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcFinishWaferStartTransitTime_0</name>
        <label>calcFinishWaferStartTransitTime</label>
        <locationX>1127</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>WFTTransitTimeMilestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjTransitTime.From_Loc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcWaferFinishOptionTATandEndDate</name>
        <label>calcWaferFinishOptionTATandEndDate</label>
        <locationX>740</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>createWafFinishOptionTAT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjWFCT.Cycle_times__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjWFCT.Location_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcWFTCTandEndDate_0</name>
        <label>calcWFTCTandEndDate</label>
        <locationX>1146</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>createWFT_CT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjWFTCT.CYCLE_TIME_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>InputVars</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Parent Slot id: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Name}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Slot Yield Factor: &lt;/B&gt;{!varSlotYieldFactor}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer Size: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!WaferSize}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Speed: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!varSpeed}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Start Date: &lt;/B&gt;{!varStartDate}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttWaferFinishScheduleInputs</name>
        <text>Parent Slot id: {!sobjRTATSlot.Name}
Slot Yield Factor: {!varSlotYieldFactor}
Wafer Size: {!WaferSize}
Speed: {!varSpeed}
Start Date: {!varStartDate}
Schedule Name: {!Wafer_Finish_Schedule_Name}
Finishing Schedule start date: {!Wafer_Finish_Start_date}
Chip Attach Technology: {!Chip_Attach_Technology}
Lot size: {!Lot_size}
Wafer or device to stock quantity: {!Wafer_or_device_to_stock_qty}</text>
    </textTemplates>
    <textTemplates>
        <name>ttWafFabSched</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Wafer_Size__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Technology__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!sobjWaferFabScheduleInputs.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!sobjWaferFabScheduleInputs.RIT_Type__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;RIT A Qty: {!sobjWaferFabScheduleInputs.RIT_A_Wafer_Start_Quantity__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;RIT B Qty: {!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;RIT A Speed:&lt;FONT KERNING=&quot;0&quot;&gt; {!sobjWaferFabScheduleInputs.RIT_A_Speed__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;RIT B Speed: &lt;FONT KERNING=&quot;0&quot;&gt;{!sobjWaferFabScheduleInputs.RIT_B_Speed__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;-----------------------------------------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!sobjMilestoneTAT.End_Date__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;From ERP Device&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer test?&lt;/B&gt;  {!sobjParentERPDevice.Test_wafer__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Backside Grind?&lt;/B&gt; {!sobjParentERPDevice.Back_Side_Grind__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Chips per Wafer&lt;/B&gt;: {!sobjParentERPDevice.Chips_per_Wafer__c}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>collFinishOptionLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collFinishOptionsTATs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collFinishOptionTATs</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FinishOptionLocations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinishOptionsTotalTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>prevLoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sFinishOptionLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sFinishOptionTATs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is a collection of sobjects of type Wafer Finish Cycle Time.  The list/collection contains the ones chosen by the user to be included in the Wafer Finish schedule</description>
        <name>sobjCollectionWFCTchosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Cycle_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjCollectionWFTTierCT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_and_Module_Test_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjListWaferFinishCycleTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Cycle_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjMilestoneTAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Sched_TAT_Adjust__c</objectType>
    </variables>
    <variables>
        <name>sobjParentERPDevice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERP_Device__c</objectType>
    </variables>
    <variables>
        <name>sobjRTATSlot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Slot__c</objectType>
    </variables>
    <variables>
        <name>sobjTransitTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Transit_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjWaferFabScheduleInputs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Fab_Schedule_Inputs__c</objectType>
    </variables>
    <variables>
        <name>sobjWaferFinishCycleTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Cycle_Time__c</objectType>
    </variables>
    <variables>
        <description>object to hold the Wafer Finish Cycle time we are currently processing</description>
        <name>sobjWFCT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Cycle_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjWFTCT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_and_Module_Test_Time__c</objectType>
    </variables>
    <variables>
        <name>TransitMilestoneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCycleTimes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the lot size should be passed in, using the RIT B lot size if available, otherwise use the RIT A lot size</description>
        <name>varLotSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Zero</elementReference>
        </value>
    </variables>
    <variables>
        <description>Next location</description>
        <name>varNextLoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the id of the parent RTAT Slot</description>
        <name>varRTATSlotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Should be passed in from parent slot, default is 100%</description>
        <name>varSlotYieldFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the Speed of the lot from RIT B, if not available, then RIT A</description>
        <name>varSpeed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TurboSpeed</elementReference>
        </value>
    </variables>
    <variables>
        <description>the date the Wafer Finishing schedule should start

Should be the wafer Fab schedules finish date</description>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTotalTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWaferFinishMilestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWafFinishSchedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWFTMilestoneAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>200MM or 300MM, from parent RTAT Slot</description>
        <name>WaferSize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>constant200MM</elementReference>
        </value>
    </variables>
    <variables>
        <name>WaferTestCycleTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_and_Module_Test_Time__c</objectType>
    </variables>
    <variables>
        <name>WafFinStartTransitTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Transit_Time__c</objectType>
    </variables>
</Flow>
