flows/RTATCreateModuleSchedule-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignMFT_BTV_to_PrevLoc</name>
        <label>assignMFT_BTV_to_PrevLoc</label>
        <locationX>658</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkToLookupSBTTransitTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMFTLoc</name>
        <label>assignMFTLoc</label>
        <locationX>641</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>varNextLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookupModuleFinalTestCycleTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNextLocation</name>
        <label>assignNextLocation</label>
        <locationX>593</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>varNextLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjRTATModBACT.Location_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkToLookupTransitTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPrevLoc</name>
        <label>assignPrevLoc</label>
        <locationX>502</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopChosenModBAOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSBT_Loc_to_PrevLoc</name>
        <label>assignSBT_Loc_to_PrevLoc</label>
        <locationX>196</locationX>
        <locationY>1762</locationY>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varScanBakeTapeLocationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkToLookupToStockTransitTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStartAndEnddatesAndTotalTAT</name>
        <label>AssignStartAndEnddatesAndTotalTAT</label>
        <locationX>158</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTotalTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextTAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Module_Start_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prevLoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjMilestoneTAT.Location_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalcFirstEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>boolMFTAddedToMilestones</name>
        <label>boolMFTAddedToMilestones</label>
        <locationX>661</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varMFTMilestoneAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupBAOptionsTATs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalcFirstEndDate</name>
        <label>CalcFirstEndDate</label>
        <locationX>161</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>varEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Module_Schedule_Start_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectModBAOptionsChosen</name>
        <label>collectModBAOptionsChosen</label>
        <locationX>379</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>collModBAOptLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjModBACycleTime.Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collModBAOptionTATs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjModBACycleTime.Cycle_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinishOptionsTotalTAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjModBACycleTime.Cycle_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinishOptionLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjModBACycleTime.Location_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjCollectionModBAOptionschosen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjModBACycleTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruModBACycleTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStringsForOptions</name>
        <label>SetStringsForOptions</label>
        <locationX>158</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>sModBAOptionLabels</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sModBAOptionTATs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruModBACycleTimes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultSpeedfromFab</name>
        <choiceText>defaultSpeedfromFab</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varSpeed</elementReference>
        </value>
    </choices>
    <choices>
        <name>plRAMP</name>
        <choiceText>plRAMP</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Ramp</promptText>
        </userInput>
        <value>
            <elementReference>varSpeed</elementReference>
        </value>
    </choices>
    <choices>
        <name>plTURBO</name>
        <choiceText>plTURBO</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TurboSpeed</elementReference>
        </value>
    </choices>
    <choices>
        <name>varWaferFinishSpeed</name>
        <choiceText>{!sobjWaferFinishScheduleInputs.Speed__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>sobjWaferFinishScheduleInputs.Speed__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>varWafFinishQuality</name>
        <choiceText>{!sobjWaferFinishScheduleInputs.Quality__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>sobjWaferFinishScheduleInputs.Quality__c</elementReference>
        </value>
    </choices>
    <constants>
        <name>BURLINGTON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BURLINGTON</stringValue>
        </value>
    </constants>
    <constants>
        <name>constant200MM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>200MM</stringValue>
        </value>
    </constants>
    <constants>
        <description>Wafers/Devices Ship to Customer or BA</description>
        <name>constFinishingShipMilestoneLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wafers/Devices Ship to Customer or BA</stringValue>
        </value>
    </constants>
    <constants>
        <name>LabelMFT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module Final Test</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelModToStock</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module to Stock</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelModulePrepTimeBuffer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module Prep Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelModuleScheduleStartDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module Schedule Start Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>labelSBT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Scan Bake Tape</stringValue>
        </value>
    </constants>
    <constants>
        <name>MODULE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MODULE</stringValue>
        </value>
    </constants>
    <constants>
        <name>ModuleShiptoCustomer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module Ship to Customer</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;BR&gt; &lt;/BR&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>TurboSpeed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TURBO</stringValue>
        </value>
    </constants>
    <constants>
        <description>0</description>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>checkToLookupMFTTransitTime</name>
        <label>checkToLookupMFTTransitTime</label>
        <locationX>648</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PrevandNextLocDifferent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupWaferFinishTransitTime_0</targetReference>
            </connector>
            <label>PrevandNextLocDifferent</label>
        </rules>
        <rules>
            <name>PrevAndNextLocMatch_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calcMFT_CTandEndDate</targetReference>
            </connector>
            <label>PrevAndNextLocMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkToLookupSBTTransitTime</name>
        <label>checkToLookupSBTTransitTime</label>
        <locationX>366</locationX>
        <locationY>1462</locationY>
        <defaultConnector>
            <targetReference>FAULTonWaferFinishScheduleCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PrevandNextLocDifferent_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupSBTTransitTime</targetReference>
            </connector>
            <label>PrevandNextLocDifferent</label>
        </rules>
        <rules>
            <name>PrevAndNextLocMatch_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calcSBT_CTandEndDate</targetReference>
            </connector>
            <label>PrevAndNextLocMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkToLookupToStockTransitTime</name>
        <label>checkToLookupToStockTransitTime</label>
        <locationX>192</locationX>
        <locationY>1876</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PrevandNextLocDifferent_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupToStockTransitTime</targetReference>
            </connector>
            <label>PrevandNextLocDifferent</label>
        </rules>
        <rules>
            <name>PrevAndNextLocMatch_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createToStock_Milestone</targetReference>
            </connector>
            <label>PrevAndNextLocMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkToLookupTransitTime</name>
        <label>checkToLookupTransitTime</label>
        <locationX>785</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>ErrorOnLocCompare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PrevandNextLocDifferent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupModBATransitTime</targetReference>
            </connector>
            <label>PrevandNextLocDifferent</label>
        </rules>
        <rules>
            <name>PrevAndNextLocMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevLoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNextLoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calcModBAOptionTATandEndDate</targetReference>
            </connector>
            <label>PrevAndNextLocMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_MFT</name>
        <label>If_MFT</label>
        <locationX>363</locationX>
        <locationY>1349</locationY>
        <defaultConnector>
            <targetReference>FAULTonWaferFinishScheduleCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AddMFTMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Module_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMFTLoc</targetReference>
            </connector>
            <label>AddMFTMilestone</label>
        </rules>
        <rules>
            <name>SkipMFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Module_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkToLookupSBTTransitTime</targetReference>
            </connector>
            <label>SkipMFT</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfMFTChosen</name>
        <label>IfMFTChosen</label>
        <locationX>493</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_MFT_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Module_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupWaferFinalTestTierANDCycleTime</targetReference>
            </connector>
            <label>If_MFT_chosen</label>
        </rules>
        <rules>
            <name>No_MFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Module_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupBAOptionsTATs</targetReference>
            </connector>
            <label>No_MFT</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsModBAOptionChosen</name>
        <label>IsModBAOptionChosen</label>
        <locationX>383</locationX>
        <locationY>601</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PickedModBAOpt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>itemChosenfromList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collectModBAOptionsChosen</targetReference>
            </connector>
            <label>PickedModBAOpt</label>
        </rules>
        <rules>
            <name>OptionNotChosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>itemChosenfromList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThruModBACycleTimes</targetReference>
            </connector>
            <label>OptionNotChosed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>drcModBACycleTimes</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Package_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <object>RTAT_Mod_BA__c</object>
        <outputAssignments>
            <assignToReference>varModBACTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Label__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Label__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>drcScanBakeTape</name>
        <dataType>Number</dataType>
        <displayField>Location_Name__c</displayField>
        <filters>
            <field>Package_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <object>RTAT_Scan_Bake_Tape_CT__c</object>
        <outputAssignments>
            <assignToReference>varScanBakeTapeCycleTime</assignToReference>
            <field>Cycle_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScanBakeTapeLocationName</assignToReference>
            <field>Location_Name__c</field>
        </outputAssignments>
        <sortField>Location_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Cycle_Time__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>drcTestTier</name>
        <dataType>Number</dataType>
        <displayField>Test_Tier__c</displayField>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MODULE</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_and_Module_Test_Time__c</object>
        <valueField>Test_Tier__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plChipAttach</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Chip_Attach_Type__c</picklistField>
        <picklistObject>RTAT_Wafer_Finish_Sched_Input__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plQual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quality__c</picklistField>
        <picklistObject>RTAT_Wafer_Finish_Sched_Input__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaferFinishSpeed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Speed__c</picklistField>
        <picklistObject>RTAT_Wafer_Finish_Sched_Input__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>defaultLotSize</name>
        <dataType>Number</dataType>
        <expression>CASE({!sobjWaferFabScheduleInputs.RIT_Type__c}, 
&quot;AB&quot;, {!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c},
&quot;A&quot;, {!sobjWaferFabScheduleInputs.RIT_A_Wafer_Start_Quantity__c},
&quot;B&quot;, {!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c},
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>defaultLotSizeWSlotYldFactor</name>
        <dataType>Number</dataType>
        <expression>CASE({!sobjWaferFabScheduleInputs.RIT_Type__c}, 
&quot;AB&quot;,({!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c} * ({!sobjRTATSlot.Slot_Yield_Factor__c})),
&quot;A&quot;, ({!sobjWaferFabScheduleInputs.RIT_A_Wafer_Start_Quantity__c} * ({!sobjRTATSlot.Slot_Yield_Factor__c})),
&quot;B&quot;, ({!sobjWaferFabScheduleInputs.RIT_B_Wafer_Start_Quantity__c} * ({!sobjRTATSlot.Slot_Yield_Factor__c})),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>defaultModuleSchedName</name>
        <dataType>String</dataType>
        <expression>{!sobjRTATSlot.Name} + &apos;_MOD&apos;</expression>
    </formulas>
    <formulas>
        <name>FirstCharFinishOption</name>
        <dataType>String</dataType>
        <expression>LEFT({!sobjRTATModBACT.Label__c}, 1)</expression>
    </formulas>
    <formulas>
        <name>formParentERPDevMFT</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!sobjParentERPDevice.Module_Test_Flag__c}, &quot;Y&quot;), 
True, False)</expression>
    </formulas>
    <formulas>
        <name>formSBTMilestoneLabel</name>
        <dataType>String</dataType>
        <expression>&apos;Scan Bake Tape (&apos; + {!varScanBakeTapeLocationName} + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>itemChosenfromList</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(
UPPER({!Module_BA_Operations} ),
UPPER(TRIM( {!sObjModBACycleTime.Label__c}))
)</expression>
    </formulas>
    <formulas>
        <name>Label40Chars</name>
        <dataType>String</dataType>
        <expression>LEFT({!sobjRTATModBACT.Label__c}, 40)</expression>
    </formulas>
    <formulas>
        <name>labelTransitTime</name>
        <dataType>String</dataType>
        <expression>&apos;Transit: &apos;  &amp;  {!prevLoc} &amp; &apos; to &apos;  &amp; {!varNextLoc}</expression>
    </formulas>
    <interviewLabel>RTATCreateModuleSchedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTATCreateModuleSchedule</label>
    <loops>
        <name>loopChosenModBAOptions</name>
        <label>loopChosenModBAOptions</label>
        <locationX>359</locationX>
        <locationY>1170</locationY>
        <assignNextValueToReference>sobjRTATModBACT</assignNextValueToReference>
        <collectionReference>sobjCollectionModBAOptionschosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignNextLocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_MFT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThruModBACycleTimes</name>
        <label>loopThruModBACycleTimes</label>
        <locationX>163</locationX>
        <locationY>773</locationY>
        <assignNextValueToReference>sObjModBACycleTime</assignNextValueToReference>
        <collectionReference>sobjlistModBACT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsModBAOptionChosen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignStartAndEnddatesAndTotalTAT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Module_Preptime_Milestone</name>
        <label>Create Module Preptime Milestone</label>
        <locationX>162</locationX>
        <locationY>1173</locationY>
        <assignRecordIdToReference>varFirstMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>loopChosenModBAOptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelModulePrepTimeBuffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Module_Schedule_Start_Milestone</name>
        <label>Create Module Schedule Start Milestone</label>
        <locationX>163</locationX>
        <locationY>1073</locationY>
        <assignRecordIdToReference>varFirstMilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Module_Preptime_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>sobjMilestoneTAT.Location_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelModuleScheduleStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>createMFT_CT</name>
        <label>createMFT_CT</label>
        <locationX>653</locationX>
        <locationY>1720</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>assignMFT_BTV_to_PrevLoc</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>LabelMFT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>sobjMFT_CT.CYCLE_TIME_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>createModBAOptionTAT</name>
        <label>createModBAOptionTAT</label>
        <locationX>648</locationX>
        <locationY>1173</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>assignPrevLoc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleLookupModBACTMilestoneError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>sobjRTATModBACT.Location_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>Label40Chars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>sobjRTATModBACT.Cycle_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>createModuleShip_Milestone</name>
        <label>createModuleShip_Milestone</label>
        <locationX>196</locationX>
        <locationY>2093</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateRTATModuleScheduleInputs</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>ModuleShiptoCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRTATModuleScheduleInputs</name>
        <label>CreateRTATModuleScheduleInputs</label>
        <locationX>196</locationX>
        <locationY>2196</locationY>
        <assignRecordIdToReference>varModuleSchedId</assignRecordIdToReference>
        <connector>
            <targetReference>FinishingScheduleCompleteScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleCreateModSchedError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Module_Final_Test__c</field>
            <value>
                <elementReference>Module_Test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Module_Start_Quantity__c</field>
            <value>
                <elementReference>Module_Start_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modules_to_Stock_Quantity__c</field>
            <value>
                <elementReference>Module_to_Stock_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Module_Schedule_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Type__c</field>
            <value>
                <elementReference>Package</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quality__c</field>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTAT_Slot__c</field>
            <value>
                <elementReference>sobjRTATSlot.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speed__c</field>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Tier__c</field>
            <value>
                <elementReference>Test_Tier</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Module_Schedule_Input__c</object>
    </recordCreates>
    <recordCreates>
        <name>createSBT_CT_Milestone</name>
        <label>createSBT_CT_Milestone</label>
        <locationX>191</locationX>
        <locationY>1669</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>assignSBT_Loc_to_PrevLoc</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>varScanBakeTapeLocationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>formSBTMilestoneLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varScanBakeTapeCycleTime</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>createToStock_Milestone</name>
        <label>createToStock_Milestone</label>
        <locationX>191</locationX>
        <locationY>1991</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>createModuleShip_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelModToStock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFT_TransitTimeMilestone</name>
        <label>MFT_TransitTimeMilestone</label>
        <locationX>890</locationX>
        <locationY>1590</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>calcMFT_CTandEndDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelTransitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>ModBATransitTimeMilestone</name>
        <label>ModBATransitTimeMilestone</label>
        <locationX>1055</locationX>
        <locationY>1161</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>calcModBAOptionTATandEndDate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleLookupModBATransitMilestoneError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelTransitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>SBT_TransitTimeMilestone</name>
        <label>SBT_TransitTimeMilestone</label>
        <locationX>375</locationX>
        <locationY>1766</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <connector>
            <targetReference>calcSBT_CTandEndDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelTransitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordCreates>
        <name>ToStock_TransitTimeMilestone</name>
        <label>ToStock_TransitTimeMilestone</label>
        <locationX>487</locationX>
        <locationY>2089</locationY>
        <assignRecordIdToReference>TransitMilestoneID</assignRecordIdToReference>
        <inputAssignments>
            <field>Adjustable_TAT__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Name__c</field>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>labelTransitTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_TAT__c</field>
            <value>
                <elementReference>varNextTAT</elementReference>
            </value>
        </inputAssignments>
        <object>RTAT_Sched_TAT_Adjust__c</object>
    </recordCreates>
    <recordLookups>
        <name>FastLookupModBATransitTime</name>
        <label>FastLookupModBATransitTime</label>
        <locationX>1050</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcModBAStartTransitTime</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>sobjTransitTime</outputReference>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupSBTTransitTime</name>
        <label>FastLookupSBTTransitTime</label>
        <locationX>369</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcSBTStartTransitTime</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>sobjTransitTime</outputReference>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupToStockTransitTime</name>
        <label>FastLookupToStockTransitTime</label>
        <locationX>482</locationX>
        <locationY>1882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcToStockStartTransitTime_0</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>sobjTransitTime</outputReference>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupWaferFinishTransitTime_0</name>
        <label>FastLookupWaferFinishTransitTime</label>
        <locationX>884</locationX>
        <locationY>1396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>calcFinishWaferStartTransitTime_0</targetReference>
        </connector>
        <filters>
            <field>From_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevLoc</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Loc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNextLoc</elementReference>
            </value>
        </filters>
        <object>RTAT_Transit_Time__c</object>
        <outputReference>sobjTransitTime</outputReference>
        <queriedFields>NORMAL_TAT_IN_DAYS__c</queriedFields>
        <queriedFields>From_Loc__c</queriedFields>
        <queriedFields>To_Loc__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupBAOptionsTATs</name>
        <label>LookupBAOptionsTATs</label>
        <locationX>392</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupScanBakeTapeOption</targetReference>
        </connector>
        <filters>
            <field>Package_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <object>RTAT_Mod_BA__c</object>
        <outputReference>sobjlistModBACT</outputReference>
        <queriedFields>Cycle_Time__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>Module_Operation__c</queriedFields>
        <queriedFields>Package_Type__c</queriedFields>
        <queriedFields>Speed__c</queriedFields>
        <queriedFields>Quality__c</queriedFields>
        <queriedFields>Start_Quantity__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <sortField>Label__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupERPDevice</name>
        <label>LookupERPDevice</label>
        <locationX>175</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupWaferFabSchedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleLookupERPDevice</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.ERP_Device_for_Slot__c</elementReference>
            </value>
        </filters>
        <object>ERP_Device__c</object>
        <outputReference>sobjParentERPDevice</outputReference>
        <queriedFields>Module_Tester_Type__c</queriedFields>
        <queriedFields>Package_IO__c</queriedFields>
        <queriedFields>Package_Type__c</queriedFields>
        <queriedFields>Module_Test_Flag__c</queriedFields>
        <queriedFields>Chips_per_Wafer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupModuleFinalTestCycleTime</name>
        <label>lookupModuleFinalTestCycleTime</label>
        <locationX>645</locationX>
        <locationY>1429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkToLookupMFTTransitTime</targetReference>
        </connector>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Test_Tier</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MODULE</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_and_Module_Test_Time__c</object>
        <outputReference>sobjMFT_CT</outputReference>
        <queriedFields>CYCLE_TIME_IN_DAYS__c</queriedFields>
        <queriedFields>Test_Tier__c</queriedFields>
        <queriedFields>SPEED__c</queriedFields>
        <queriedFields>Test_Type__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupParentRTATSlot</name>
        <label>LookupParentRTATSlot</label>
        <locationX>175</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupERPDevice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleNoRTATSlotid</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTATSlotId</elementReference>
            </value>
        </filters>
        <object>RTAT_Slot__c</object>
        <outputReference>sobjRTATSlot</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Wafer_Size__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
        <queriedFields>ERP_Device_Deliverable_Type__c</queriedFields>
        <queriedFields>ERP_Device_Fab__c</queriedFields>
        <queriedFields>MPW__c</queriedFields>
        <queriedFields>Slot_Yield_Factor__c</queriedFields>
        <queriedFields>ERP_Device_for_Slot__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupScanBakeTapeOption</name>
        <label>LookupScanBakeTapeOption</label>
        <locationX>157</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>showDynamicChoiceWaferFinishOptions</targetReference>
        </connector>
        <filters>
            <field>Package_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <object>RTAT_Scan_Bake_Tape_CT__c</object>
        <outputReference>sobjListScanBakeTapeCT</outputReference>
        <queriedFields>Cycle_Time__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
        <queriedFields>Package_Type__c</queriedFields>
        <queriedFields>Speed__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>Location_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupWaferFabSchedule</name>
        <label>LookupWaferFabSchedule</label>
        <locationX>178</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupWaferFabScheduleEndDate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleLookupWafFabscheduleErrorMsg</targetReference>
        </faultConnector>
        <filters>
            <field>RTAT_Slot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTATSlotId</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Fab_Schedule_Inputs__c</object>
        <outputReference>sobjWaferFabScheduleInputs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RIT_Type__c</queriedFields>
        <queriedFields>RIT_A_Quality__c</queriedFields>
        <queriedFields>RIT_B_Quality__c</queriedFields>
        <queriedFields>Wafer_Build_Location__c</queriedFields>
        <queriedFields>Slot_Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupWaferFabScheduleEndDate</name>
        <label>LookupWaferFabScheduleEndDate</label>
        <locationX>177</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupWaferFinishScheduleInputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleLookupMilestoneErrorMsg</targetReference>
        </faultConnector>
        <filters>
            <field>Parent_Waf_Fab_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjWaferFabScheduleInputs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>constFinishingShipMilestoneLabel</elementReference>
            </value>
        </filters>
        <object>RTAT_Sched_TAT_Adjust__c</object>
        <outputReference>sobjMilestoneTAT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Total_TAT__c</queriedFields>
        <queriedFields>Location_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupWaferFinalTestTierANDCycleTime</name>
        <label>lookupModuleFinalTestTierANDCycleTime</label>
        <locationX>652</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectTestTier</targetReference>
        </connector>
        <filters>
            <field>SPEED__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technology__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjRTATSlot.Technology__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MODULE</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_and_Module_Test_Time__c</object>
        <outputReference>sobjCollectionMFTTierCT</outputReference>
        <queriedFields>CYCLE_TIME_IN_DAYS__c</queriedFields>
        <queriedFields>Test_Tier__c</queriedFields>
        <queriedFields>SPEED__c</queriedFields>
        <queriedFields>Test_Type__c</queriedFields>
        <queriedFields>Technology__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupWaferFinishScheduleInputs</name>
        <label>LookupWaferFinishScheduleInputs</label>
        <locationX>175</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryModuleInput</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleLookupWaferFinishSchedError</targetReference>
        </faultConnector>
        <filters>
            <field>RTAT_Slot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTATSlotId</elementReference>
            </value>
        </filters>
        <object>RTAT_Wafer_Finish_Sched_Input__c</object>
        <outputReference>sobjWaferFinishScheduleInputs</outputReference>
        <queriedFields>Wafer_or_device_to_stock_quantity__c</queriedFields>
        <queriedFields>Quality__c</queriedFields>
        <queriedFields>Speed__c</queriedFields>
        <queriedFields>Lot_size__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ErrorOnLocCompare</name>
        <label>ErrorOnLocCompare</label>
        <locationX>783</locationX>
        <locationY>932</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProblemsWithPrevAndNextLocCompare</name>
            <fieldText>Problems with comparing the Previous location and the next location.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FAULTonWaferFinishScheduleCreation</name>
        <label>FAULTonWaferFinishScheduleCreation</label>
        <locationX>100</locationX>
        <locationY>1354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tempMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Comparison decision failed&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fault Msg&lt;/B&gt;: {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>FinishingScheduleCompleteScreen</name>
        <label>FinishingScheduleCompleteScreen</label>
        <locationX>199</locationX>
        <locationY>2302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>holdingText</name>
            <fieldText>{!ttWaferFinishScheduleInputs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleCreateModSchedError</name>
        <label>HandleCreateModSchedError</label>
        <locationX>381</locationX>
        <locationY>2195</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgErrorMsgCreateModSchedule</name>
            <fieldText>Problem with creating Module RTAT Schedule Input

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleLookupERPDevice</name>
        <label>HandleLookupERPDevice</label>
        <locationX>13</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorLookupERPDevice</name>
            <fieldText>Error on lookup of ERP Device
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleLookupMilestoneErrorMsg</name>
        <label>HandleLookupMilestoneErrorMsg</label>
        <locationX>11</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgErrorMsgWafFabScheduleinput_0</name>
            <fieldText>Problem with lookup of Milestone {!constFinishingShipMilestoneLabel}

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleLookupModBACTMilestoneError</name>
        <label>HandleLookupModBACTMilestoneError</label>
        <locationX>654</locationX>
        <locationY>1260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgErrorMsgCreateModBATransitMilestone_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Error when creating Mod BA Cycle Time Milestone:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleLookupModBATransitMilestoneError</name>
        <label>HandleLookupModBATransitMilestoneError</label>
        <locationX>1057</locationX>
        <locationY>1258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgErrorMsgCreateModBATransitMilestone</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Error when creating Mod BA Transit Time Milestone:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleLookupWaferFinishSchedError</name>
        <label>HandleLookupWaferFinishSchedError</label>
        <locationX>6</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgErrorMsgWafFinishSchedule</name>
            <fieldText>Problem with lookup of Wafer Finish Schedule Input

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleLookupWafFabscheduleErrorMsg</name>
        <label>HandleLookupWafFabscheduleErrorMsg</label>
        <locationX>11</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgErrorMsgWafFabScheduleinput</name>
            <fieldText>Problem with lookup of Wafer Fab Schedule inputs
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>epic fail</description>
        <name>HandleNoRTATSlotid</name>
        <label>HandleNoRTATSlotid</label>
        <locationX>13</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNoSlotId</name>
            <fieldText>No RTAT Slot id was passed in as a parameter
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>Start by Getting the input</description>
        <name>QueryModuleInput</name>
        <label>QueryModuleInput</label>
        <locationX>333</locationX>
        <locationY>359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfMFTChosen</targetReference>
        </connector>
        <fields>
            <name>ShowInputVars</name>
            <fieldText>{!ttWafFabSched}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Module_Schedule_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultModuleSchedName</elementReference>
            </defaultValue>
            <fieldText>Module Schedule Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quality</name>
            <choiceReferences>plQual</choiceReferences>
            <choiceReferences>varWafFinishQuality</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>varWafFinishQuality</defaultSelectedChoiceReference>
            <fieldText>Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Module_Test</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>formParentERPDevMFT</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Module Test?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Speed</name>
            <choiceReferences>WaferFinishSpeed</choiceReferences>
            <choiceReferences>varWaferFinishSpeed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>varWaferFinishSpeed</defaultSelectedChoiceReference>
            <fieldText>Speed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Package</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sobjParentERPDevice.Package_Type__c</elementReference>
            </defaultValue>
            <fieldText>Package</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Module_Start_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>sobjMilestoneTAT.End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Module Start date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SelectTestTier</name>
        <label>SelectTestTier</label>
        <locationX>657</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>boolMFTAddedToMilestones</targetReference>
        </connector>
        <fields>
            <name>LabelSelectTestTier</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select a test tier for module final test&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test_Tier</name>
            <choiceReferences>drcTestTier</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Test Tier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
    </screens>
    <screens>
        <name>showDynamicChoiceWaferFinishOptions</name>
        <label>showDynamicChoiceWaferFinishOptions</label>
        <locationX>159</locationX>
        <locationY>592</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetStringsForOptions</targetReference>
        </connector>
        <fields>
            <name>Module_BA_Operations</name>
            <choiceReferences>drcModBACycleTimes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Module BA Operations</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank</name>
            <fieldText>&apos;   &apos; + {!NewLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Module_Scan_Bake_Tape_Location</name>
            <choiceReferences>drcScanBakeTape</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Module Scan Bake Tape Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>AnotherBlankLine</name>
            <fieldText>{!NewLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Module_Start_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sobjWaferFinishScheduleInputs.Wafer_or_device_to_stock_quantity__c</elementReference>
            </defaultValue>
            <fieldText>Module Start Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Module_to_Stock_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Module to Stock Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <startElementReference>LookupParentRTATSlot</startElementReference>
    <subflows>
        <name>calcFinishWaferStartTransitTime_0</name>
        <label>calcFinishWaferStartTransitTime</label>
        <locationX>883</locationX>
        <locationY>1491</locationY>
        <connector>
            <targetReference>MFT_TransitTimeMilestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjTransitTime.From_Loc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcMFT_CTandEndDate</name>
        <label>calcMFT_CTandEndDate</label>
        <locationX>650</locationX>
        <locationY>1626</locationY>
        <connector>
            <targetReference>createMFT_CT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjMFT_CT.CYCLE_TIME_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>BURLINGTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcModBAOptionTATandEndDate</name>
        <label>calcModBAOptionTATandEndDate</label>
        <locationX>791</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>createModBAOptionTAT</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjRTATModBACT.Cycle_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjRTATModBACT.Location_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcModBAStartTransitTime</name>
        <label>calcModBAStartTransitTime</label>
        <locationX>1053</locationX>
        <locationY>1069</locationY>
        <connector>
            <targetReference>ModBATransitTimeMilestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjTransitTime.From_Loc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcSBT_CTandEndDate</name>
        <label>calcSBT_CTandEndDate</label>
        <locationX>188</locationX>
        <locationY>1569</locationY>
        <connector>
            <targetReference>createSBT_CT_Milestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>varScanBakeTapeCycleTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>varScanBakeTapeLocationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcSBTStartTransitTime</name>
        <label>calcSBTStartTransitTime</label>
        <locationX>368</locationX>
        <locationY>1666</locationY>
        <connector>
            <targetReference>SBT_TransitTimeMilestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjTransitTime.From_Loc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>calcToStockStartTransitTime_0</name>
        <label>calcToStockStartTransitTime</label>
        <locationX>482</locationX>
        <locationY>1984</locationY>
        <connector>
            <targetReference>ToStock_TransitTimeMilestone</targetReference>
        </connector>
        <flowName>flowCalcTotalTAT_EndDate_CheckShutdownDays</flowName>
        <inputAssignments>
            <name>varMilestoneTAT</name>
            <value>
                <elementReference>sobjTransitTime.NORMAL_TAT_IN_DAYS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varScheduleStartDate</name>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoc</name>
            <value>
                <elementReference>sobjTransitTime.From_Loc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTotalTAT</name>
            <value>
                <elementReference>varTotalTAT</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <name>varEndDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNextTAT</assignToReference>
            <name>varMilestoneTAT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalTAT</assignToReference>
            <name>varTotalTAT</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>InputVars</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Parent Slot id: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Name}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Slot Yield Factor: &lt;/B&gt;{!varSlotYieldFactor}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer Size: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!WaferSize}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Speed: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!varSpeed}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Start Date: &lt;/B&gt;{!varStartDate}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttWaferFinishScheduleInputs</name>
        <text>Parent Slot id: {!sobjRTATSlot.Name}
Slot Yield Factor: {!varSlotYieldFactor}
Wafer Size: {!WaferSize}
Speed: {!varSpeed}
Start Date: {!varStartDate}
Schedule Name: {!Module_Schedule_Name}
Finishing Schedule start date: {!Module_Start_date}
Wafer or device to stock quantity: {!sobjWaferFinishScheduleInputs.Wafer_or_device_to_stock_quantity__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ttWafFabSched</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Name}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Wafer_Size__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!sobjRTATSlot.Technology__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer Finish Schedule Ship date&lt;/B&gt;:{!sobjMilestoneTAT.End_Date__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;From ERP Device&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Module test?&lt;/B&gt;  &lt;FONT KERNING=&quot;1&quot;&gt;{!sobjParentERPDevice.Module_Test_Flag__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Module Tester Type:&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt; {!sobjParentERPDevice.Module_Tester_Type__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Chips per Wafer&lt;/B&gt;: {!sobjParentERPDevice.Chips_per_Wafer__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Package Type&lt;/B&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!sobjParentERPDevice.Package_Type__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;---------------------------------------------------------------------------------------------&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer Finish Quality&lt;/B&gt;:{!sobjWaferFinishScheduleInputs.Quality__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Wafer Finish Lot Size: &lt;/B&gt;{!sobjWaferFinishScheduleInputs.Lot_size__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Wafer/Device to Stock Qty:&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;{!sobjWaferFinishScheduleInputs.Wafer_or_device_to_stock_quantity__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>collModBAOptionsTATs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collModBAOptionTATs</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>collModBAOptLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinishOptionLocations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinishOptionsTotalTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>prevLoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sModBAOptionLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sModBAOptionTATs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjCollectionMFTTierCT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_and_Module_Test_Time__c</objectType>
    </variables>
    <variables>
        <description>This is a collection of sobjects of type RTAT MOD BA CT.  The list/collection contains the ones chosen by the user to be included in the Module schedule</description>
        <name>sobjCollectionModBAOptchosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mod_BA__c</objectType>
    </variables>
    <variables>
        <name>sobjCollectionModBAOptionschosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mod_BA__c</objectType>
    </variables>
    <variables>
        <name>sobjlistModBACT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mod_BA__c</objectType>
    </variables>
    <variables>
        <name>sobjListModBAOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mod_BA__c</objectType>
    </variables>
    <variables>
        <name>sobjListScanBakeTapeCT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Scan_Bake_Tape_CT__c</objectType>
    </variables>
    <variables>
        <name>sobjListWaferFinishCycleTimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Cycle_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjMFT_CT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_and_Module_Test_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjMilestoneTAT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Sched_TAT_Adjust__c</objectType>
    </variables>
    <variables>
        <name>sObjModBACycleTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mod_BA__c</objectType>
    </variables>
    <variables>
        <name>sobjParentERPDevice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERP_Device__c</objectType>
    </variables>
    <variables>
        <description>object to hold theMod BA cycle time we are currently processing</description>
        <name>sobjRTATModBACT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Mod_BA__c</objectType>
    </variables>
    <variables>
        <name>sobjRTATSlot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Slot__c</objectType>
    </variables>
    <variables>
        <name>sobjTransitTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Transit_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjWaferFabScheduleInputs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Fab_Schedule_Inputs__c</objectType>
    </variables>
    <variables>
        <name>sobjWaferFinishCycleTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Cycle_Time__c</objectType>
    </variables>
    <variables>
        <name>sobjWaferFinishScheduleInputs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_Finish_Sched_Input__c</objectType>
    </variables>
    <variables>
        <name>TransitMilestoneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the lot size should be passed in, using the RIT B lot size if available, otherwise use the RIT A lot size</description>
        <name>varLotSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Zero</elementReference>
        </value>
    </variables>
    <variables>
        <name>varMFTMilestoneAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varModBACTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varModuleSchedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Next location</description>
        <name>varNextLoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the id of the parent RTAT Slot</description>
        <name>varRTATSlotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varScanBakeTapeCycleTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varScanBakeTapeLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Should be passed in from parent slot, default is 100%</description>
        <name>varSlotYieldFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the Speed of the lot from RIT B, if not available, then RIT A</description>
        <name>varSpeed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TurboSpeed</elementReference>
        </value>
    </variables>
    <variables>
        <description>the date the Wafer Finishing schedule should start

Should be the wafer Fab schedules finish date</description>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTotalTAT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWaferFinishMilestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>200MM or 300MM, from parent RTAT Slot</description>
        <name>WaferSize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>constant200MM</elementReference>
        </value>
    </variables>
    <variables>
        <name>WaferTestCycleTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Wafer_and_Module_Test_Time__c</objectType>
    </variables>
    <variables>
        <name>WafFinStartTransitTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTAT_Transit_Time__c</objectType>
    </variables>
</Flow>
